[2014-04-11 18:34] ryankirkman opened #1 "Highlight characters in library names as you type"
Looks cool and is a nice visual queue

[2014-06-22 08:40] petecooper opened #6 "Website not updating"
The last commit was 10 days ago: https://github.com/cdnjs/new-website/commit/a211c15dddbe5cc56873ff0e0dfb8e1917ed4793

[2014-06-23 13:13] petecooper opened #7 "Add links to privacy policy and t&c text"
Had a couple of mentions about privacy policy in the last few days, best to address this soon.

https://github.com/cdnjs/cdnjs/issues/3439
https://news.ycombinator.com/item?id=7931027

[2014-06-26 18:58] thomasdavis opened #8 "feature request: API for retrieving information on a specific library"
https://github.com/cdnjs/website/issues/34

[2014-06-28 18:02] PeterDaveHello opened #9 "URL's copy bottom not working"
This issue was first report by @DotunKolaOlaleye on our HipChat chat room, and I test it on my browser(both firefox and chrome) and then got the same problem.

example:
https://cdnjs.com/libraries/twitter-bootstrap

[2014-06-29 21:54] PeterDaveHello opened #12 "layout template wording"
I have a suggestion on `Submit` button on the `community` area, should we modify the word to `news` or `discussion` ? original `Submit` may make people confused, especially when in other language, thanks.

[2014-06-29 21:58] PeterDaveHello opened #13 "update maintainer `about` page"
Since Pete left, should we update the maintainer info on `about` page? If so, should I add terinjokes and me on the list? Thanks.

[2014-06-29 21:59] #12 closed, assigned to nobody

[2014-06-29 22:18] #9 closed, assigned to nobody

[2014-07-01 14:31] #13 closed, assigned to nobody

[2014-07-07 12:12] PeterDaveHello opened #14 "api can't search certain lib"
`http://api.cdnjs.com/libraries?search=jquery.postcodify`
`http://api.cdnjs.com/libraries?search=postcodify`
both of them got `{"results":[],"total":0}`

[2014-07-07 12:42] PeterDaveHello opened #15 "Get latest version of lib's file via API?"
Is there a way to get latest  libs via api like this? I think some people will need it.

//code.jquery.com/jquery-`latest`.js
//cdn.jsdelivr.net/jquery/`latest`/jquery.js

[2014-07-11 13:53] PeterDaveHello opened #16 "Github notifications on our HipChat chat room"
Though there are only few people in contributor list, and will not be too many, but I think doing this on our new-website repo as cdnjs main repo may help us know issue faster, hope it can be implemented :)

[2014-07-14 10:59] #14 closed, assigned to nobody

[2014-07-24 02:20] #15 closed, assigned to nobody

[2014-08-23 22:42] Maroniemann opened #17 "Copy buttons not working on unsecure connection"
The dropdown works, but all copy buttons (Copy, Copy HTTP and Copy HTTPS) look (highlighting and changed cursor) like a clickable button just for one tick. Trying to click does nothing. The one-tick-highlight also happens only once unless I highlighted another button in the meantime.

On secure connections (HTTPS) the buttons work properly

[2014-09-30 08:29] PeterDaveHello opened #18 "Mobile issue"
Menu not work, template not suit

[2014-10-24 04:06] #16 closed, assigned to nobody

[2014-11-03 15:26] GrahamCampbell opened #19 "Profile Page Is Broken"
![f0iicgx](https://cloud.githubusercontent.com/assets/2829600/4884658/d374f2b8-636d-11e4-86cf-624ef267f560.png)

---
Replaces https://github.com/cdnjs/cdnjs/issues/3995.

[2014-12-07 15:29] #1 closed, assigned to nobody

[2014-12-15 16:01] PeterDaveHello opened #27 "Assynchronized searching result"
v2.9.2 here https://cdnjs.com/libraries/jplayer, but got v2.7.1 when search on https://cdnjs.com/

PS: I submitted v2.9.2 for more than 6 hours.

tag @thomasdavis @redox for comments, thanks!

[2014-12-27 06:46] PeterDaveHello opened #28 "Application Error"
https://cdnjs.com/libraries/d3
[code]

[2014-12-28 12:30] #27 closed, assigned to nobody

[2015-01-02 12:31] PeterDaveHello commented on #28
no problem now

[2015-01-10 11:49] #28 closed

[2015-01-10 11:51] PeterDaveHello opened #31 "Add Algolia into Sponsors"
Hey @redox,

Would you like to add Algolia into sponsors?
Currently, sponsors are listed here : https://cdnjs.com/about, maybe you'll like to send a PR to add it :)

[2015-01-10 12:59] redox commented on #31
Oh I would love to :) I'll try to submit a PR later this week end. Thank you!

[2015-01-10 13:00] PeterDaveHello commented on #31
:+1:

[2015-01-11 16:56] PeterDaveHello commented on #31
Looks good, close this now.

[2015-01-11 16:56] #31 closed

[2015-01-18 18:20] omni5cience opened #33 "Possible XSS"
Content from a library's `"description"` field in `package.json` is not properly escaped on the [cdnjs.com](https://cdnjs.com) search results page.

For example:
1.  Go to [cdnjs.com](http://cdnjs.com#search-box)
2.  Search for "bootstrap-select"
3.  Observe the rendered HTML (`<select>`) from the library's [package.json](https://github.com/cdnjs/cdnjs/blob/897309f6a5d451abf9d76c379747284cc9222a83

[2015-01-19 04:27] PeterDaveHello commented on #33
mention @thomasdavis  @drewfreyling  @ryankirkman

[2015-01-19 04:29] thomasdavis commented on #33
Thanks for this!

[2015-01-21 00:45] e-jigsaw opened #34 "Japanese in ja.cdnjs.com is incorrect"
I found a Japanese translated cdnjs. It is good to Japanese speaker!

However, I think Japanese word is incorrect. So I want to fix it.

I searched translation file in this repository, but I can not found. How to contribute this?

Thanks

[2015-01-21 02:50] PeterDaveHello commented on #34
Sorry that we are using Google translate, so we can not manually fix the wording.

[2015-01-21 06:31] e-jigsaw commented on #34
It is very unfortunate...

Do you have any plan to foreign languages? (ex: i18n)

[2015-01-21 06:34] PeterDaveHello commented on #34
Should ask @thomasdavis, ha.

[2015-01-21 13:42] e-jigsaw commented on #34
thanks @PeterDaveHello , waiting for @thomasdavis .

[2015-01-21 13:44] thomasdavis commented on #34
We've had so many requests for different languages to be manual now that I should probably implement it. Maybe we should setup a translations yaml file...

[2015-01-21 13:52] e-jigsaw commented on #34
That is in favor. I know setup is hard, but I will try.

[2015-01-21 13:56] thomasdavis commented on #34
Alright, are you familiar with yaml?

[2015-01-21 14:10] e-jigsaw commented on #34
Yes, I written yaml in `travis.yml`, `circle.yml` and Rails project.

[2015-01-21 14:24] PeterDaveHello commented on #34
Maybe we can use Transifex fo help manage translations.

[2015-01-24 04:23] e-jigsaw commented on #34
@thomasdavis sorry I am late. Please review :arrow_up: PR

[2015-01-28 16:22] PeterDaveHello opened #36 "Uptime page not work!"
http://stats.pingdom.com/htbkuegtgycv is broken for a while, @thomasdavis would you please take a look at it? thanks.

[2015-01-28 16:39] thomasdavis commented on #36
What conclusion did you come to @ryankirkman ?

[2015-01-29 18:32] ryankirkman commented on #36
Fixed: https://github.com/cdnjs/new-website/commit/b42afad542d73709155570a57c728c85785317d9

[2015-01-29 18:32] #36 closed

[2015-01-29 18:34] PeterDaveHello commented on #36
thanks.

[2015-02-07 09:09] crissdev commented on #33
Found it too while searching for bootstrap. Might be a good idea to fix this since we ca create accounts on the website.

[2015-02-07 17:29] PeterDaveHello opened #37 "Need double click on search result"
I think we don't have to click twice before using algolia search, but not sure.

[2015-02-25 03:32] vigneshshanmugam commented on #37
Happening on any particular browser?. Couldn't reproduce this issue.

[2015-02-25 04:41] PeterDaveHello commented on #37
At least on my Firefox (35.0.1+build1-0ubuntu0.14.04.1) Chromium (40.0.2214.111-0ubuntu0.14.04.1.1069) Google Chrome (40.0.2214.115-1) on my LinuxMint, but also get this problem on other environments.
This problem will only appear after 'search', without search, I have no problem.

[2015-02-25 09:04] #37 closed

[2015-02-25 09:05] redox commented on #37
@PeterDaveHello good catch; was a tricky one :/

[2015-02-25 09:49] vigneshshanmugam commented on #37
Isn't because of the double binding in the events?.

Ideally, we need to unbind before binding the change and keyup events.

Clicking on anchor links triggers the searchHandler() which shouldn't.

[2015-02-25 15:35] PeterDaveHello commented on #37
Thank you guys :+1:

[2015-03-16 20:37] PeterDaveHello commented on #34
@e-jigsaw sorry that we are too busy so didn't review it yet, this PR can't not be merged now, would you please rebase your branch with our latest master branch to make sure it can be merged, then I'll review it, sorry for the inconvenience.

[2015-03-17 01:09] e-jigsaw commented on #34
@PeterDaveHello ok

[2015-03-17 02:09] e-jigsaw commented on #34
@PeterDaveHello I was fixed locations had been changed so far. Please review again, Thanks.

[2015-03-17 04:30] PeterDaveHello commented on #34
Okay, I'll do it within a week.

[2015-04-16 17:15] PeterDaveHello commented on #6
I fixed it yesterday.

[2015-04-16 17:15] #6 closed

[2015-04-16 17:16] PeterDaveHello opened #41 "Copy button should disappear after mouse move out"
as title

[2015-04-16 17:26] ryankirkman commented on #6
Nice!
On Thu, Apr 16, 2015 at 10:15 AM Peter Dave Hello <notifications@github.com>
wrote:

[2015-04-23 09:10] PeterDaveHello commented on #19
Both not work now @thomasdavis, do you have time to fix it?

[2015-05-01 16:56] PeterDaveHello opened #45 "Make the website better!"
The grades are not high enough, haha.

http://gtmetrix.com/reports/cdnjs.com/XNkJTTSk
![Imgur](http://i.imgur.com/zbkSlRg.png)

http://gtmetrix.com/reports/cdnjs.com/bo8bc4Ru
![Imgur](http://i.imgur.com/VFcx2XN.png)

[2015-05-26 11:20] PeterDaveHello commented on #45
Good enough, forgot to close this issue, already made it better for many days.
![Imgur](http://i.imgur.com/wHG5TFy.png)

[2015-05-26 11:20] #45 closed

[2015-06-01 18:28] PeterDaveHello opened #46 "Hold old, indexed data when failed on grabing libs info"
Warning added in https://github.com/cdnjs/new-website/commit/242c632a40452364f051f2eda231e4b7732e789e, and randomly got warning on some libs.

I think the quality of the network/internet here is fine, not sure what's the reason why, should mark it as an issue.

[2015-06-01 18:33] redox commented on #46
Oh interesting, maybe it's a rate-limit issue; I know GitHub is pretty restrictive on that :/

[2015-06-01 18:34] PeterDaveHello commented on #46
Yeah, I wonder if should sleep for a short time, or even use two client with different key, haha.
Don't want to make the reindex process slower at all.

[2015-06-01 18:36] PeterDaveHello commented on #46
hmmmm ... if it's rate-limit issue, I think upstream npm package `github` should handle it, maybe retry depends on the error code.

[2015-06-01 18:39] IonicaBizau commented on #46
@PeterDaveHello @redox I guess you're not trying to make more than 5000 requests / hour. :smile: Or do you?

[2015-06-01 18:40] redox commented on #46
Last time I checked we were doing ~1K requests per indexing process. If you try to reindex 5 times in an hour, it could become an issue :)

[2015-06-01 19:21] PeterDaveHello commented on #46
hmmmm ... about 1.25K request per reindex
all the error messages are just 404 not found ... hmmm ...

[2015-06-01 19:29] PeterDaveHello opened #47 "Security issue on dependency"
Since https://github.com/cdnjs/new-website/commit/e63b441ce8c47a8970bb7d0a776797cb65fca02d
npm lib `marked`, all versions
https://nodesecurity.io/advisories/marked_redos

Maybe should find a replacement.

[2015-06-01 19:50] PeterDaveHello commented on #46
@redox, is it possible to use old data(partial) when grabbing failed?

[2015-06-01 20:04] redox commented on #46
Oh ok, that make sense then -> their associated package.json probably refers to outdated repositories. What do you mean exactly by "old data(partial)"? Like getting the previous count if it was successfully indexed before?

[2015-06-01 20:10] PeterDaveHello commented on #46
Yeah, the indexed data from last time.

Most libs' link been fixed in this commit:
https://github.com/cdnjs/cdnjs/commit/43c20c2389fb50c7b1d2c62788e5c84b8fa6e2e1

Related issue:
https://github.com/cdnjs/cdnjs/issues/4695

Btw, got the same problem on another api token, and I don't think I reached 5k reqs/hour.

[2015-06-01 20:26] PeterDaveHello commented on #46
BTW, the real missing repo libs:
[code]

[2015-06-01 20:27] redox commented on #46
Yeah, could work if we use a `partialUpdateObject` operation instead of the `addObject` one in case we don't get any GH answer: it will avoid overriding the original attribute values.

So you mean only those 7 repos are returning a 404?

[2015-06-01 20:27] PeterDaveHello commented on #46
Yeah, their authors dropped them :sob:
Anyway, exception handling and rollback mechanism should be good.

[2015-06-13 23:23] #19 closed

[2015-07-18 12:29] srcspider opened #50 "Can we please have the gzip (at max compression) sizes next to the libraries?"
In some cases, such as for example choosing a script based script/css loader, whichever is just smaller gzip wise is better, and right now I have to go though all of them in cdnjs, download and run `gzip-size WHATEVER.js | pretty-bytes` over and over. It would be nice if the max compression gzip size was there already.

Script loaders are not the only cases. For example let's say I need a date lib

[2015-07-18 12:45] PeterDaveHello commented on #50
cc @thomasdavis @ryankirkman

[2015-07-19 18:14] ryankirkman commented on #50
@srcspider Interesting idea. I can see it being a nice selection heuristic for most scripts that just require you to drop in a single script.

Let us have a look into it to see what we can do.

[2015-07-19 19:43] jonathanKingston commented on #33
@PeterDaveHello can this commit be merged?

[2015-07-19 21:27] redox commented on #33
Unfortunately, the `_highlightResult.description.value` contains some `<em></em>` tags to show where the match occurred. I'm used to write something like:

[code]

What do you think guys ?

[2015-07-19 21:32] jonathanKingston commented on #33
So the search API is actually broken or the packages.min.json that populates it?
(Sorry mostly trying to figure out how packages.min.json gets created)

[2015-07-19 23:38] jonathanKingston commented on #33
Ah replicated the issue. I would change the algolia search to change the `<em>` to use `highlightPreTag=**&highlightPostTag=**` then filter through markdown the results.

https://www.algolia.com/doc/curl#Settings

[2015-07-31 23:18] PeterDaveHello opened #51 "algoliasearch reindex failed"
Exit without error status but only end with `** Enrich xxxxx/yyyy`, tried 2 times, seems it didn't push and commit the result.

[2015-07-31 23:27] redox commented on #51
Hmmm, let me try that.

[2015-07-31 23:31] redox commented on #51
It's working from here: I've just reindexed everything. Any chance your GitHub token used to enrich the libraries has been revoked?

[2015-07-31 23:34] PeterDaveHello commented on #51
Hi @redox, thanks for your fast reply, in fact, I was trying to do the same thing as you - reindex on another server, and it works very well, so I'm going to check what's wrong on the main building server, let's leave issue opened until I fix it, thanks for your help again :+1:

[2015-07-31 23:39] PeterDaveHello commented on #51
BTW, same GitHub token :smile:

[2015-07-31 23:40] PeterDaveHello commented on #51
It works now ... though I didn't change things, maybe it's my server's problem.

[2015-07-31 23:40] #51 closed

[2015-07-31 23:42] PeterDaveHello commented on #34
Close due to no response on #35, sorry.

[2015-07-31 23:42] #34 closed

[2015-07-31 23:42] PeterDaveHello commented on #17
@Maroniemann do you still have this problem? Thanks.

[2015-07-31 23:42] redox commented on #51
:+1: Good news then, I like those issues resolving alone :)

[2015-07-31 23:43] PeterDaveHello commented on #7
cc @ryankirkman @thomasdavis @drewfreyling @IonicaBizau

[2015-08-01 00:05] Maroniemann commented on #17
Well, I'm not using Chromium or Debian anymore, but I just tried it with Firefox and Chrome on Windows 8.1 N and it is working.

[2015-08-01 00:08] PeterDaveHello commented on #17
Okay, I have no problem with Chromium v43.0.2357.130 Built on Ubuntu 14.04, running on LinuxMint 17.2 (64-bit)

@Piicksarn Would you like to help us reproduce this problem on on Debian Jessie 64bit with Chromium?

[2015-08-05 10:41] PeterDaveHello opened #52 "Enable Git Large File Storage for packages.min.json"
Warning from GitHub when pushing commits:

[2015-08-07 06:32] Piicksarn commented on #17
@PeterDaveHello I checkout the problem on two environments.

1. First one is `Safari` and the result is fine.

2. The second is `Firefox v39.0 on Ubuntu 14.04`, and it comes some problems about the button's function:
  - It occur the same problem with @Maroniemann

  - It didn't show the copy buttons in library content, and the result shown below:

![2015-08-07 14 19 33](https://cloud.githubuserco

[2015-08-07 07:16] PeterDaveHello commented on #17
@Piicksarn any msg from console?

[2015-08-07 12:46] #47 closed

[2015-08-07 12:48] PeterDaveHello commented on #52
Tried, but still too slow, and the free git-lfs plan on GitHub is not enough for us.

[2015-08-07 12:48] #52 closed

[2015-08-09 06:41] PeterDaveHello opened #53 "Shows auto-update tag on lib page"
Shows that if a lib enabled npm/git auto-update or not.

Need to cooperate with cdnjs main repo.

[2015-08-09 06:49] PeterDaveHello opened #54 "Do not show the whole file lists in lib page"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=25535618)](https://www.bountysource.com/issues/25535618-do-not-show-the-whole-file-lists-in-lib-page?utm_source=25535618&utm_medium=shield&utm_campaign=ISSUE_BADGE)

Some libs have too many files and the end users may not need to access them directly, should not display all of them by default, maybe hide fonts and images by default

[2015-08-09 09:11] PeterDaveHello opened #55 "Current search doesn't match keywords on the repository's and owner's name."
I think we can add it into the index!

[2015-08-09 16:08] PeterDaveHello opened #56 "Show more info in website"
- [x] Currently hosted lib count
- [ ] Repo size (bare / file checkouted size)
- [ ] Static star, fork, contributor and commits count (including all repos?)
- [ ] Static issues and pull requests count (still opened) (including all repos?)

[2015-08-09 16:30] redox commented on #55
sure thing, let me submit a PR for that

[2015-08-09 16:32] PeterDaveHello commented on #55
Thanks @redox, I just assigned you this one!

[2015-08-09 16:38] redox commented on #55
:+1:

[2015-08-09 16:40] #55 closed

[2015-08-09 16:41] PeterDaveHello commented on #55
Thanks @redox, I;m going to rebuild it now!

[2015-08-09 16:49] PeterDaveHello opened #58 "Need unit and ci test"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=25551240)](https://www.bountysource.com/issues/25551240-need-unit-and-ci-test?utm_source=25551240&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2015-08-09 16:53] PeterDaveHello opened #59 "Copy button should also shows on Libraries browsing page"
https://cdnjs.com/libraries

[2015-08-09 16:57] PeterDaveHello commented on #59
My fault.

[2015-08-09 16:57] #59 closed

[2015-08-10 13:50] PeterDaveHello commented on #53
Working on it.

[2015-08-10 15:15] PeterDaveHello commented on #53
Added.

https://github.com/cdnjs/new-website/commit/80631fdd483892a1dccee7fb75e1bb22640ae4de
https://github.com/cdnjs/cdnjs/commit/df976b54ab7ede71b7b49c1e179d85162c6b8bba

[2015-08-10 15:15] #53 closed

[2015-08-10 15:19] PeterDaveHello commented on #53
Example:
![screenshot from 2015-08-10 23 17 47](https://cloud.githubusercontent.com/assets/3691490/9175085/479c79d4-3fb6-11e5-8e31-1c6b8fec809b.png)
![screenshot from 2015-08-10 23 19 17](https://cloud.githubusercontent.com/assets/3691490/9175086/47a39c28-3fb6-11e5-93f7-d4f6783e7d2d.png)

[2015-08-13 07:19] maruilian11 opened #60 "add star and fork on each lib's page"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=25713763)](https://www.bountysource.com/issues/25713763-add-star-and-fork-on-each-lib-s-page?utm_source=25713763&utm_medium=shield&utm_campaign=ISSUE_BADGE)

maybe we can also add star count and fork count on each lib's page, not just on the search page.
for example on [angular.js](https://cdnjs.com/libraries/angular.js)

[2015-08-13 07:20] IonicaBizau commented on #60
@PeterDaveHello How do we fetch fork and star counts? Maybe we could use [`gh.js`](https://github.com/IonicaBizau/gh.js). :smile: :four_leaf_clover:

[2015-08-13 07:29] PeterDaveHello opened #61 "Auto-update config for Crafty"
Repo: https://github.com/craftyjs/Crafty

[2015-08-13 07:46] PeterDaveHello commented on #60
https://github.com/cdnjs/new-website/blob/master/reindex.js#L104-L127

I wonder we can write this info to packages.min.json

[2015-08-13 07:48] IonicaBizau commented on #60
And how do you update when counts are changing?

[2015-08-13 07:58] redox commented on #60
That would be cool :)

Updating the counts once a day is probably enough, so cron + code that does something like in `reindex.js` ?

[2015-08-13 08:00] PeterDaveHello commented on #60
Grab it in every build:
https://github.com/cdnjs/cdnjs/blob/master/build/packages.json.js

[2015-08-13 08:12] IonicaBizau commented on #60
What if we would use it on the client side? That means the user's ip has a limited requests/hour, but still enough I guess.

[2015-08-13 08:28] PeterDaveHello commented on #60
It will be much slower, make GitHub's server loading heaver, and I don't think we realtime data.

[2015-08-13 08:29] redox commented on #60
Not sure I see the advantage of querying the GH API from the client side, the counts don't need to be exact/realtime so I think it would be cleaner & faster to store them in the backend, no?

[2015-08-13 08:29] IonicaBizau commented on #60
Yep, then in `packages.min.json`. :smile:

[2015-08-13 08:29] redox commented on #60
:+1:

[2015-08-13 08:32] PeterDaveHello commented on #60
Hey guys, would you mind that we leave this issue for our @cdnjs/intern team to take is as a practice? I wanna make them working on code level issues also.

[2015-08-13 08:36] IonicaBizau commented on #60
Using `gh.js` we can get the stars count using:

[code]

:smile:

[2015-08-13 08:39] redox commented on #60
:+1: @PeterDaveHello

[2015-08-13 19:20] PeterDaveHello opened #62 "Make 'Go back' button bring the page back to search result"
When user search a lib and click a result, the browser brings user to the lib's page, but when click go back button, it'll go to the main page of website, should bring the user back the search result instead of the main page of website.

I guess one solution is to change the url in realtime when user stop typing, and also add a record in browser's history.

[2015-08-13 21:25] redox commented on #62
Yes we could `pushState` with the query (playing with `setTimeout` and `clearTimeout` to not change the URL at each keystroke). You want your @cdnjs/intern team to work on that as well?

[2015-08-14 04:50] PeterDaveHello commented on #61
Wrong place ... my fault.

[2015-08-14 04:51] #61 closed

[2015-08-14 04:52] PeterDaveHello commented on #60
Ping @cdnjs/intern

[2015-08-14 04:52] PeterDaveHello commented on #62
@redox I think they should finish previous issue(#60) first, you're very welcome to take this issue :smile:

[2015-08-14 05:18] Piicksarn commented on #60
i got it!
Fighting!:punch:

[2015-08-16 08:51] PeterDaveHello opened #63 "Client-side one-time new version checking"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=25819988)](https://www.bountysource.com/issues/25819988-client-side-one-time-new-version-checking?utm_source=25819988&utm_medium=shield&utm_campaign=ISSUE_BADGE)

Check if there is a new version on upstream/source at the client side.

If there is any new versions and been released for more then 30 hours, provide a link to report a

[2015-08-22 13:48] maruilian11 commented on #60
got it.

[2015-08-25 14:58] PeterDaveHello opened #66 "Add license tag as autoupdate tag in lib page"
Just like `npm/git autoupdate enabled` tag in lib's page!
Example, jquery has `npm autoupdate enabled` - https://cdnjs.com/libraries/jquery

[2015-08-25 15:00] PeterDaveHello commented on #66
There are 657 libs without license field, should better fix it first.

[2015-09-02 17:23] PeterDaveHello opened #67 "It's easy to got "connect ETIMEDOUT" error while reindexing."
Just found this problem and open a ticket as a record.

[2015-09-02 18:56] redox commented on #67
Hmmm, any chance you have a backtrace @PeterDaveHello? I can start upgrading the AlgoliaSearch API client, will help.

[2015-09-03 03:49] PeterDaveHello commented on #67
hmmmm ... the timeout is between my machine and GitHub, I'm finding the problem, not sure if is because the network quality.

[2015-09-03 05:08] PeterDaveHello commented on #67
I wonder if the speed to create connection is too fast so been blocked by my ISP :sob:
Will find a method to fix it ...

[2015-09-06 17:19] #66 closed

[2015-09-06 18:37] PeterDaveHello opened #69 "Undefined stars and other similar info in search result."
Like riot.
![default](https://cloud.githubusercontent.com/assets/3691490/9705969/4f609c0a-5509-11e5-8039-4baa7ed8efd8.png)

[2015-09-06 18:37] PeterDaveHello commented on #69
The reason maybe the moved repo:
https://github.com/muut/riotjs -> https://github.com/riot/riot

[2015-09-06 18:38] PeterDaveHello commented on #69
Adding detection when reindexing.

[2015-09-06 18:39] redox commented on #69
Yes, for sure that's the root cause.

Thanks for taking care of it @PeterDaveHello !

[2015-09-06 18:40] PeterDaveHello commented on #69
:+1:

[2015-09-06 18:54] PeterDaveHello commented on #69
Added a little bit more info, but should better collect the errors and print the all errors again before exit.

Wondering should exit without 0, but some repos were deleted, should consider to remove repo info in package.json or something else.

[2015-09-06 19:03] PeterDaveHello commented on #69
Repo urls fixed in as workaround.
https://github.com/cdnjs/cdnjs/commit/82aab453b911dbae18d3ddb451edb86f1312a3d1

[2015-09-06 19:49] PeterDaveHello commented on #67
I wanna set a longer timeout, hmmmm ... but if it was been blocked ... this may not help

[2015-09-06 20:00] PeterDaveHello commented on #69
![default](https://cloud.githubusercontent.com/assets/3691490/9706349/e7c9bdf4-5514-11e5-9aa7-0e16e5d943b9.png)

[2015-09-07 04:11] IonicaBizau commented on #69
I think we should use [this feature](https://developer.github.com/changes/2015-05-26-repository-redirects-are-coming/).

[2015-09-07 06:15] PeterDaveHello commented on #69
https://github.com/mikedeboer/node-github/issues/257

[2015-09-07 12:38] PeterDaveHello opened #70 "Add GitHub repo link in library's page"
Link to its GitHub or other source code hosting platform.
Should be care of ssh and git protocol in [packages.min.json](public/packages.min.json), should use https instead(but in web server only).

[2015-09-07 12:40] IonicaBizau commented on #70
We could use [`git-url-parse`](https://github.com/IonicaBizau/node-git-url-parse)–it will look something like this:

[code]

[2015-09-07 13:10] PeterDaveHello commented on #70
:+1:

[2015-09-08 12:21] PeterDaveHello opened #71 "Add link to report the outdated libs"
Just like the [Request a lib](https://goo.gl/0pRcOk) has the issue template, we can add a link in each lib's page to help users report the outdated lib with template.

[2015-09-09 06:51] PeterDaveHello opened #72 "clean up highlight.js"
I think we don't need to load it on every pages, only tutorials need it.

https://github.com/cdnjs/new-website/commit/be4caa726f60eff02682582b4cbb00a351332c6e#commitcomment-13128690

[2015-09-09 06:54] PeterDaveHello commented on #72
Seems lodash has similar problem.

[2015-09-09 06:57] PeterDaveHello commented on #72
ping @thomasdavis

[2015-09-10 11:14] PeterDaveHello opened #73 "Search index didn't been updated but reindex had no error."
Hi @redox, seems our search index didn't been update, I didn't see any error and also tried to re-index again with some updates but got same result.
I've pushed the latest build on [meta branch](https://github.com/cdnjs/new-website/tree/meta), would you please take a look at it when you have time? Thanks a lot!

[2015-09-10 11:30] redox commented on #73
Hi @PeterDaveHello, I just tried to run the reindex script (from the meta branch) and all went well. Do you have any error?

Here are my logs:

[code]

And the index is up-to-date.

[2015-09-10 11:43] PeterDaveHello commented on #73
No, I didn't get any error, I check it twice, but now I can see the updated result, strange, I found this problem because I can not see the result after 2 hours after I reindexed. Maybe it was cache or something? I remember it's fast before.

[2015-09-10 11:53] redox commented on #73
OK, so for cdnjs.com we've enabled the [world-wide replication](https://www.algolia.com/dsn) so maybe you were targeting a slave replicate (we route the query to the closest datacenter) that was a bit laggy (replication is done asynchronously).

[2015-09-10 12:10] PeterDaveHello commented on #73
Oh, cool, so what's the reasonable laggy here? I meant if I found the index didn't been updated, how long should I wait until opening a issue ticket? Thanks!

[2015-09-10 12:26] redox commented on #73
We're generally speaking about a few seconds, then in case of major network issues across continents -> it can take up to several minutes or hours (but I'm not aware of any issues this morning). Where are you located right now @PeterDaveHello ?

[2015-09-10 12:47] PeterDaveHello commented on #73
Taiwan, Asia.

[2015-09-10 13:58] redox commented on #73
OK we're used to see a high latency between US-East and South-East Asia but nothing special today. Could you let us know when that happens again so we can check if the replication job is stuck/delayed or so? In the meantime, I think we can close the issue.

[2015-09-11 02:49] PeterDaveHello commented on #73
Okay, no problem.

[2015-09-11 02:49] #73 closed

[2015-09-13 06:30] PeterDaveHello opened #74 "Fuzzy search on api"
angular.js:
http://api.cdnjs.com/libraries?search=angular.js

angularjs
http://api.cdnjs.com/libraries?search=angularjs

cannot see angular.js by searching angularjs

[2015-09-13 06:30] PeterDaveHello commented on #74
hmmmm ... but i wonder if we can or we should just migrate with algolia's search

[2015-09-13 06:34] PeterDaveHello opened #75 "Human readable api query output"
saerch angularjs:

http://api.cdnjs.com/libraries?search=angularjs
[code]

Is hard to read for human, I hope we can have something like
http://api.cdnjs.com/libraries?search=angularjs&output=human
[code]

So it'll be easier to read for us!

[2015-09-13 06:41] #67 closed

[2015-09-13 06:41] PeterDaveHello commented on #67
not code level issue and don't have it now.

[2015-09-13 06:44] PeterDaveHello opened #76 "add api page"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=26648068)](https://www.bountysource.com/issues/26648068-add-api-page?utm_source=26648068&utm_medium=shield&utm_campaign=ISSUE_BADGE)

To tell people how to use our api, ref:
https://github.com/cdnjs/cdnjs#api

[2015-09-13 07:21] PeterDaveHello commented on #76
We can construct this page http://api.cdnjs.com/

[2015-09-13 07:22] PeterDaveHello opened #77 "Redirect root / homepage of api domain to our GitHub readme"
Before we have a real page for it(#76), should redirect https://api.cdnjs.com/ to our readme of api(https://github.com/cdnjs/cdnjs#api)

[2015-09-13 07:26] #77 closed

[2015-09-13 07:28] PeterDaveHello opened #78 "Design library not found page(or other error page)"
Current one is too simple ha ...

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=26648386)](https://www.bountysource.com/issues/26648386-design-library-not-found-page-or-other-error-page?utm_source=26648386&utm_medium=shield&utm_campaign=ISSUE_BADGE)

![screenshot from 2015-09-13 15 27 28](https://cloud.githubusercontent.com/assets/3691490/9835721/17cc38a8-5a2c-11e5-875f-1240e1

[2015-09-13 07:32] PeterDaveHello opened #79 "Test node v4.0.0"
Also see: [Start to test node.js v4.0](https://github.com/cdnjs/cdnjs/issues/5685) https://github.com/cdnjs/cdnjs/issues/5685

* [x] Tested on main website
* [x] Tested on api
* [x] Tested on artifact/meta data build process
* [x] Tested on algolia index process

cc @cdnjs/intern @cdnjs/team-cdnjs

[2015-09-13 07:41] PeterDaveHello commented on #79
FYI, I'll migrate to v4.0.0 if we didn't see any error for 7 days.

[2015-09-13 07:46] PeterDaveHello commented on #70
Start to work on it with in an hour.

[2015-09-13 08:37] redox commented on #74
I would definitely proxify the Algolia API for the search endpoint, the [Hacker News Search](https://hn.algolia.com/api) is also doing it.

[2015-09-13 09:19] #70 closed

[2015-09-13 09:20] PeterDaveHello commented on #74
oh cool, can you take this work @redox ?

[2015-09-13 09:21] IonicaBizau commented on #70
:tada:

[2015-09-13 09:30] PeterDaveHello commented on #75
Got strange problem here, deployed api (on heroku) keep sending human readable results, but I have no problem locally, not sure if the cdn did something. @ryankirkman would you please help me test it? Thanks.

[2015-09-13 09:45] redox commented on #74
Sure thing!

[2015-09-13 10:05] redox commented on #74
@PeterDaveHello done!

[2015-09-13 10:19] PeterDaveHello commented on #74
Oh cool, let's see what we'll get!

[2015-09-14 09:34] PeterDaveHello commented on #74
It break `assets`, see cdnjs/cdnjs#5688

[2015-09-14 12:31] #74 closed

[2015-09-16 08:15] PeterDaveHello opened #82 "api server seems to be very unstable"
Should figure it out ... cc @cdnjs/owners

![default](https://cloud.githubusercontent.com/assets/3691490/9899678/084fae28-5c8e-11e5-8b34-d28e3d31031e.png)
![default](https://cloud.githubusercontent.com/assets/3691490/9899686/1cfebd8c-5c8e-11e5-8dea-b7472d2b3e52.png)

[2015-09-16 08:16] redox commented on #82
Any logs?

[2015-09-16 08:21] thomasdavis commented on #82
I wonder if we updated the dynos to be the new paid versions. @ryankirkman

On Wed, Sep 16, 2015 at 6:16 PM, Sylvain Utard <notifications@github.com>
wrote:

--
Thomas Davis
http://thomasdav.is

VP of Tech - Earbits - http://earbits.com
Co-founder - Cdnjs - http://cdnjs.com
Founder - Backbone Tutorials - http://backbonetutorials.com

[2015-09-16 16:23] ryankirkman commented on #82
Ohhhhh, I see. Let me check
On Wed, Sep 16, 2015 at 1:21 AM Thomas Davis <notifications@github.com>
wrote:

[2015-09-16 18:05] ryankirkman commented on #82
Yeah, this has only been happening recently (as per New Relic). I switched the Heroku dyno over from being a traditional dyno to being a Hobby dyno, so we'll see if that helps.

/cc @thomasdavis

[2015-09-16 18:15] PeterDaveHello commented on #82
:+1:

[2015-09-16 18:17] ryankirkman commented on #82
@redox Here are some recent logs: https://drive.google.com/folderview?id=0B1atQwQSG7RRUzhSVl9fdTl5NEU&usp=sharing

[2015-09-25 19:38] kevinSuttle opened #83 "Request: display file size"
It would be great to have the file size and possible perf. statistics listed on a library page.
Lots of space on that right side to add some more valuable info.

[2015-09-26 05:37] PeterDaveHello commented on #83
Duplicated with https://github.com/cdnjs/cdnjs/issues/4187

[2015-09-26 05:37] #83 closed

[2015-09-27 14:49] PeterDaveHello commented on #83
@kevinSuttle please move to cdnjs/cdnjs#4187 and give your +1 if you want this feature back, thanks.

[2015-09-27 16:11] PeterDaveHello opened #84 "Should have "Copy Script/Link Tag" option in copy button in library page"
We only have it in search result now.

[2015-09-27 16:42] PeterDaveHello commented on #84
hmmm ... too busy to work on this, @cdnjs/team-cdnjs @cdnjs/intern please help me fix this issue, anyone will be welcome thanks!

[2015-09-27 23:16] PeterDaveHello commented on #75
@terinjokes do you have any idea? I guess maybe cloudflare will do something on it?

[2015-09-27 23:39] thomasdavis commented on #75
Ahh I really think it's on the clients behalf to pretty print, we could add the method in as a convenience factor. But we should always try to keep things minimal and quick at cdnjs so I'd have to vote no to adding that feature.

If you want a great client for testing API's, check out Postman, they also have a pretty print option built in.

[2015-09-27 23:39] terinjokes commented on #75
Or [jq](https://stedolan.github.io/jq/)

[2015-09-27 23:40] PeterDaveHello commented on #75
@thomasdavis, the pretty version only shows when query `?output=human`

[2015-09-27 23:41] PeterDaveHello commented on #75
it works great locally, I just don't know why it doesn't show the result properly after deployed.

[2015-09-28 00:02] thomasdavis commented on #75
So cloudflare minifies the whole domain, if we have some spare page rules I can set it up to deactivate when it detects the query string.

[2015-09-28 00:02] PeterDaveHello commented on #75
but it's doing the reverse thing in this case?

[2015-09-28 00:07] thomasdavis commented on #75
I'm confused now,  the query string pretty prints it but you are saying in
production it is still minified regardless?

On Mon, Sep 28, 2015 at 10:02 AM, Peter Dave Hello <notifications@github.com

--
Thomas Davis
http://thomasdav.is

VP of Tech - Earbits - http://earbits.com
Co-founder - Cdnjs - http://cdnjs.com
Founder - Backbone Tutorials - http://backbonetutorials.com

[2015-09-28 00:25] PeterDaveHello commented on #75
@thomasdavis I meant is should be minifiedbby our app but it did not, and i did not query with `?output=human`

[2015-09-28 00:29] PeterDaveHello commented on #75
@thomasdavis It is simple: with `?output=human`, okay, print with pretty, otherwise, should be minied, and the behavior is correct locally

[2015-09-29 19:47] szepeviktor opened #85 "Firefox complains about SHA-1"
*Firefox 42*

Good morning!

Please consider using SHA-256 signed certificates.
Thank you!

[2015-09-29 19:52] PeterDaveHello commented on #85
@szepeviktor Cc @cdnjs/team-cdnjs

[2015-09-29 19:57] szepeviktor commented on #85
Thank you @PeterDaveHello.

[2015-09-29 19:59] prdonahue commented on #85
CloudFlare TLS PM here. @terinjokes brought this to my attention.

We're in the process of issuing SHA-256 certificates for all of the several million zones on us (incl. cdnjs.com), and once done, this warning will disappear. We expect this to happen within the next few days.

[2015-09-29 20:01] PeterDaveHello commented on #85
@prdonahue Thanks

[2015-09-29 20:09] szepeviktor commented on #85
Thank you.
I'm closing this because the *next few days* is close enough.

[2015-09-29 20:09] #85 closed

[2015-09-29 20:15] szepeviktor commented on #85
Excuse me for reporting this in the wrong place.
https://github.com/cdnjs/cdnjs/issues/4807

[2015-09-30 15:17] PeterDaveHello opened #86 "[announcement] webpage and api will not be updated for a few days"
Dear all,

Due to some technical problem and financial issue, we will spend a few days to focus on how to running our server on a valuable platform without spend too much money, the web page and api server will not be updated during this period, sorry for the inconvenience caused.

Best,
Peter.

[2015-10-01 14:28] PeterDaveHello commented on #86
rollback in https://github.com/cdnjs/new-website/commit/cc550f598bbcb96ee66e844faa53a69f9902e388

[2015-10-01 14:28] #86 closed

[2015-10-03 07:33] prdonahue commented on #85
Just wanted to let you know that cdnjs.com now has three (3) certificates per our new standard fall back. Modern user agents will get a SHA-256 ECDSA cert or a SHA-256 RSA (if it doesn't have ECC support) while legacy UAs will get SHA-1 RSA.

[code]

[code]

[code]

[2015-10-03 14:11] szepeviktor commented on #85
Thank you.

[2015-10-03 18:35] szepeviktor commented on #85
https://dev.ssllabs.com/ssltest/analyze.html?d=cdnjs.com&s=104.24.29.58&hideResults=on&latest

[2015-10-06 00:41] PeterDaveHello opened #87 "Show 'No lib found' or something else instead of empty search result"
as title

[2015-10-06 06:09] ryankirkman commented on #84
**Problem:**
![image](https://cloud.githubusercontent.com/assets/54405/10301305/e021e93e-6bb5-11e5-8eac-8a019adab40a.png)

**What it should look like:**
![image](https://cloud.githubusercontent.com/assets/54405/10301309/f9d0080c-6bb5-11e5-976e-4ab7d58e66d0.png)

[2015-10-08 04:42] PeterDaveHello commented on #87
and maybe add a link to add a request issue with that search term as lib name

[2015-10-08 12:49] akashseo963 commented on #87
Thanks for Nice and Informative Post. This article is really contains lot more information about This Topic.  -
<a href="http://www.expert5th.in/packers-and-movers-chennai/" title="Packers and Movers Chennai">Packers and Movers in Chennai</a>
<a href="http://www.expert5th.in/packers-and-movers-hyderabad/" title="Packers and Movers Hyderabad">Packers and Movers in Hyderabad</a>
<a href="http://www.

[2015-10-08 12:51] akashseo963 commented on #87
Thanks for post this helpful post - Please visit for More information about -
<a href="http://www.expert5th.in/packers-and-movers-gurgaon/" title="Packers and Movers Gurgaon">Packers and Movers in Gurgaon</a>
<a href="http://www.expert5th.in/packers-and-movers-pune/" title="Packers and Movers in Pune">Packers and Movers in Pune</a>
<a href="http://www.expert5th.in/packers-and-movers-bangalore/" ti

[2015-10-08 12:52] akashseo963 commented on #87
Thanks for Nice and Informative Post. This article is really contains lot more information about This Topic.  -
<a href="http://www.expert5th.in/packers-and-movers-faridabad/" title="Packers and Movers in Faridabad">Packers and Movers in Faridabad</a>
<a href="http://www.expert5th.in/packers-and-movers-thane/" title="Packers and Movers in Thane">Packers and Movers in Thane</a>
<a href="http://www.

[2015-10-08 12:53] akashseo963 commented on #87
Thanks for post this helpful post - Please visit for More information about -
<a href="http://www.dteller.in/packers-and-movers-gurgaon/" title="Packers and Movers in Gurgaon">Packers and Movers in Gurgaon</a>
<a href="http://www.dteller.in/packers-and-movers-bangalore/" title="Packers and Movers in Bangalore">Packers and Movers in Bangalore</a>
<a href="http://www.dteller.in/packers-and-movers-hy

[2015-10-08 14:59] PeterDaveHello opened #88 "Highlight the search term in owner/repo"
Current search result will not highlight the owner/repo link.

[2015-10-08 19:00] redox commented on #88
on it :)

[2015-10-08 19:12] #88 closed

[2015-10-14 07:07] PeterDaveHello opened #92 "Add missing robots.txt"

[2015-10-14 07:08] PeterDaveHello opened #93 "Add missing meta keywords"

[2015-10-14 19:17] terinjokes commented on #84
The script tag should include `crossorigin="anonymous"`, as per [Mozilla](https://hacks.mozilla.org/2015/09/subresource-integrity-in-firefox-43/)

[2015-10-15 14:05] PeterDaveHello commented on #84
:+1:

[2015-10-24 17:48] zenorocha opened #94 "Consider switching from Flash to JS for "Copy to clipboard""
I noticed you guys still use Flash for that "Copy to Clipboard" button. What do you think of switching to [clipboard.js](http://clipboardjs.com/)?

[2015-10-24 18:10] PeterDaveHello commented on #94
@zenorocha It will be great, we can also refactor some of our code at the mean time.

[2015-10-24 18:25] IonicaBizau commented on #94
@zenorocha :joy: :+1: Kill flash, yeah! :boom:

[2015-10-27 15:40] PeterDaveHello opened #95 "Link npm package to npm page"

[2015-10-27 15:40] PeterDaveHello commented on #95
Maybe just add link in the `npm auto-update enabled` label

[2015-10-28 04:30] daslicht opened #96 "http://cdnjs.com/libraries/summernote broken link"
Hi,
on http://cdnjs.com/libraries/summernote there is a link to :
http://hackerwins.github.io/summernote/

It should be :
http://summernote.org/#/

[2015-10-28 04:42] PeterDaveHello commented on #96
Thanks for your report @daslicht!

[2015-10-28 05:45] daslicht commented on #96
You are welcome !

[2015-10-28 05:54] #96 closed

[2015-10-28 15:37] mkautzmann commented on #94
:+1: Totally agree, I can work on the change. @PeterDaveHello Is it OK to send a PR later?

[2015-10-28 15:56] PeterDaveHello commented on #94
@mkautzmann of course, feel free to do that!

[2015-10-28 18:25] mkautzmann commented on #94
Just sent a PR

[2015-10-29 04:47] PeterDaveHello commented on #94
Okay, I am going to review it!

[2015-10-29 08:12] PeterDaveHello opened #98 "add gitter sidecar"
https://sidecar.gitter.im/

[2015-10-29 08:57] PeterDaveHello opened #99 "Put the keywords of a certain lib into the meta keywords tag"

[2015-10-29 12:34] #95 closed

[2015-10-29 12:34] #98 closed

[2015-10-30 09:18] PeterDaveHello commented on #94
Changed in #97

[2015-10-30 09:18] #94 closed

[2015-11-02 12:05] PeterDaveHello opened #101 "Show the 'request a lib' link for the not found search result."
Current static link - [Request a lib](https://goo.gl/0pRcOk)

The new link for the empty result maybe can be dynamic and fill the title and lib name by the search term.

[2015-11-03 01:49] PeterDaveHello commented on #17
button changed by #97 #100, @Maroniemann can you check if you still have the problem?

[2015-11-03 08:21] Maroniemann commented on #17
I tested with Firefox 41.0.2 and Chrome 46.0.2490.80 on Gentoo, both without Flash, and both are working.

[2015-11-03 08:25] PeterDaveHello commented on #17
So I think we can close this now?

[2015-11-03 08:33] Maroniemann commented on #17
I think so

[2015-11-03 08:41] #17 closed

[2015-11-03 10:54] mkautzmann commented on #41
Hi @PeterDaveHello.

What browser are you testing with?

It appears to be working recently.

I've tested in Chrome and Safari and it looks OK.

[2015-11-03 11:00] mkautzmann commented on #84
It looks like it's working now, at least in my tests, can you confirm?

It's not passing the `crossorigin="anonymous"` attribute though, I can take a look into that.

[2015-11-03 11:09] PeterDaveHello commented on #41
hmmm ... I tested on latest chrome/firefox, I think we are not talking about the same thing, sorry for the ambiguous title, I meant if the mouse is not on any result, there should not be a copy button, but currently, it'll be a copy button on the last item I hovered on, not sure if you don't have this problem? Thanks!

[2015-11-03 11:11] PeterDaveHello commented on #84
@mkautzmann we meant on the libraries' page, not the search result, like jquery - https://cdnjs.com/libraries/jquery, do you have the same feature?

[2015-11-03 11:29] mkautzmann commented on #41
Ohh, now I get it. Yes, it's happening.

OK, I'll take a look.

[2015-11-03 11:30] PeterDaveHello commented on #41
@mkautzmann :Thank you

[2015-11-03 11:32] mkautzmann commented on #84
Sorry, I was checking both the search page and the browse libraries page not inside any specific library.

I now understand the behavior. I'll look into it.

[2015-11-03 11:33] PeterDaveHello commented on #84
@mkautzmann Thanks!

[2015-11-06 07:29] #79 closed

[2015-11-12 04:57] alsotang opened #103 "what license is this project?"
MIT?

[2015-11-13 18:47] PeterDaveHello commented on #103
ISC
https://github.com/cdnjs/new-website/blob/master/package.json#L16
[code]

[2015-11-13 18:47] #103 closed

[2015-11-13 18:47] PeterDaveHello commented on #103
https://en.wikipedia.org/wiki/ISC_license

[2015-11-13 18:49] PeterDaveHello opened #104 "Use git-lfs to store packages.min.json"
packages.min.json it's already too huge, and it's minified, so there is no need to use git itself to manage it, should move on git-lfs, and maybe we can even turn on build with SRI in it in the mean time.

[2015-11-26 07:58] PeterDaveHello commented on #46
Temporarily workaround ...

Same grabbed info to GitHub.repos.meta.json, and then reuse it

* fd85194 add GitHub.repos.meta.json
* c3f92a1 save repo meta data for index

Though we don't really need real time data, just let another program to update the GitHub.repos.meta.json.

[2016-01-11 11:59] PeterDaveHello opened #107 "Upgrade dependency libraries"
- [x] jquery
- [ ] lodash.js
- [ ] bootstrap
- [x] algoliasearch
- [x] bootswatch
- [x] clipboard.js
- [ ] handlebars.js
- [ ] highlight.js

[2016-01-11 12:00] PeterDaveHello commented on #107
* b5262d0 upgrade algoliasearch client v2.8.0 -> v3.10.2
* 82eab3f upgrade bootswatch from v3.3.4 to v3.3.6
* e0e9317 upgrade jquery from v1.7.2 to v1.12.0

[2016-01-19 13:01] PeterDaveHello commented on #75
Though we use standard mode on cloudflare.com cdn, I thought it doesn't work properly, I will try to remove the query and transfer it to kind of route, and see what we got.

[2016-01-20 11:45] PeterDaveHello commented on #75
Should be good now.

[2016-01-20 11:45] #75 closed

[2016-02-21 10:16] PeterDaveHello commented on #107
*  f5c5aa2 upgrade lodash from ^3.10 to ^4.5

[2016-02-21 10:18] PeterDaveHello commented on #107
The upgrade of lodash makes the api crashed in heroku, but I have no problem with my local env.
cc @cdnjs/website @cdnjs/team-cdnjs
[code]

[2016-02-21 10:20] PeterDaveHello commented on #107
@redox have you received any error like this before?
[code]

[2016-02-21 10:24] IonicaBizau commented on #107
@PeterDaveHello Not sure if it helps, but why don't you require [`lodash.clonedeep`](https://www.npmjs.com/package/lodash.clonedeep) directly?

[2016-02-21 10:25] PeterDaveHello commented on #107
@IonicaBizau Nope we don't, it's from algoliasearch.

[2016-02-21 10:28] PeterDaveHello commented on #107
Won't it be a little bit strange to add a dependency for the dependency @IonicaBizau ?

[2016-02-21 10:29] IonicaBizau commented on #107
@PeterDaveHello Ah, I missed the context. :grin:

[2016-02-21 10:31] PeterDaveHello commented on #107
@IonicaBizau do you have any idea about this? algoliasearch search has its own dependencies with lodash v3.10.1, I have no idea why the app crashed by that. Does heroku suck?

[2016-02-21 10:34] IonicaBizau commented on #107
@PeterDaveHello The error simply says that `lodash/lang/cloneDeep.js` is missing. Make sure you have a file there.

[2016-02-21 10:36] PeterDaveHello commented on #107
@IonicaBizau yes, in the algoliasearch's node_module, there is the file, i have no problem locally lol ...

[2016-02-22 06:27] PeterDaveHello commented on #107
I opened an issue on heroku and shared with @ryankirkman and @thomasdavis

[2016-02-22 11:15] PeterDaveHello commented on #107
It works well now after I disabled the cache on heroku :cry:

[2016-02-22 17:18] ryankirkman commented on #107
@PeterDaveHello we still have a problem:

[code]

[2016-02-22 17:22] PeterDaveHello commented on #107
@ryankirkman Should be fixed, my fault, forgot to update code at second upgrade.

[2016-03-16 14:50] liangzai-cool opened #108 "How to run it use local database?"
How to run this project use local mongodb? I can't find where to use `MONGOHQ_URL` in this project.

thank you!

[2016-03-17 03:20] Shadowmad commented on #108
Same question. +1

[2016-03-17 03:36] PeterDaveHello commented on #108
@liangzai-cool hmmmm ... actually it was deprecated, cc @thomasdavis

[2016-03-17 03:37] PeterDaveHello commented on #108
@Shadowmad You can run the server without that db.

[2016-03-17 14:57] liangzai-cool commented on #108
thank you!
you mean `http://cdnjs.com/` website is running without mongodb just use `public/packages.min.json` instead db now ?

thank you!

[2016-03-17 15:00] PeterDaveHello commented on #108
@liangzai-cool Yes it is.

[2016-03-17 15:36] liangzai-cool commented on #108
oh~ It's much to my surprise! can you tell me, does `autoupdate` maintain `public/packages.min.json` file ?
If it's right, i'll to learn the `autoupdate` how to maintain the `public/package.min.json`.
I want to learn how does the whole website  `cdnjs.com` to work.

Thank you!

[2016-03-17 15:42] PeterDaveHello commented on #108
Nope, `./build/packages.json.js` maintains `public/packages.min.json`.

See https://github.com/cdnjs/buildScript/blob/master/update-website.sh#L146-L161
[code]

[2016-03-19 13:51] soisme opened #109 "font_family.min.css is missing from CDN"
can't find it on https://cdnjs.com/libraries/froala-editor/2.2.1

[2016-03-19 14:01] PeterDaveHello commented on #109
I didn't see it from upstream: https://github.com/froala/wysiwyg-editor/tree/v2.2.1/css
Would you please tell me the source?

[2016-03-19 14:52] soisme commented on #109
oh i see for 2.2.0+ it is not needed.

[2016-03-19 14:52] #109 closed

[2016-03-19 14:53] soisme opened #110 "inline mode doesn't work without selection"
See the demo doesn't work:
https://www.froala.com/wysiwyg-editor/docs/examples/inline
But it will work when you add toolbarVisibleWithoutSelection: true like https://www.froala.com/wysiwyg-editor/docs/examples/always-visible

I am on Chrome.

[2016-03-19 14:58] soisme commented on #110
BTW I am on Chrome.

[2016-03-19 15:01] PeterDaveHello commented on #110
You should ask its author, not CDNJS.

[2016-03-19 15:01] #110 closed

[2016-03-19 15:02] soisme commented on #110
oh sorry i am on the wrong github page.

[2016-03-19 21:15] Shadowmad commented on #84
Please close the issue as I can see it has been fixed. Actually mislead me for a little while. Thanks!

[2016-03-20 10:20] #108 closed

[2016-03-20 11:59] PeterDaveHello commented on #84
Nope, @Shadowmad you must misunderstand it.

[2016-03-20 13:52] Shadowmad commented on #84
@PeterDaveHello  Sorry, I missed the idea, now I got it. What has been fixed is copy script tag on search page, but not in a libriary. I will look into that. Sorry again. Thanks

[2016-03-20 13:52] PeterDaveHello commented on #84
@Shadowmad no problem.

[2016-03-21 16:27] Shadowmad opened #111 "Error: Cannot find module 'newrelic'"
Hello CDNJ team,

could you please assist. When I am trying to start out server on Ubuntu 15.04 trough ./webServer.js
`module.js:327
    throw err;
    ^

Error: Cannot find module 'newrelic'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<ano

[2016-03-23 16:52] Shadowmad commented on #111
Please close the issue, as I fixed everything. It was on my side.

Solution that I came up with, was npm ls to see which dependencies were absent and later sudo npm install.

Thank you, all works.

[2016-03-23 16:52] #111 closed

[2016-04-07 19:16] maofree opened #112 "TypeError: Argument 1 of MutationObserver.observe is not an object (3.6.8-fix)"
Hi

[2016-04-14 09:00] ghost opened #113 "Vulnerability Cross-Site Scripting in Javascript"
Hi Team Security @cdnjs
I'm Found Bug Cross-Site Scripting in Javascript

**Js File** :- https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js

`
    // [#11217](/reports/11217) - WebKit loses check when the name is after the checked attribute
    // Support: Windows Web Apps (WWA)
    //`name`and`type` need .setAttribute for WWA
    input.setAttribute( "type", "radio" );
    input.setAttr

[2016-04-28 18:12] #87 closed

[2016-04-29 09:44] #84 closed

[2016-04-30 07:02] #101 closed

[2016-04-30 11:44] PeterDaveHello commented on #112
Is this cdnjs issue?

[2016-04-30 11:53] maofree commented on #112
sorry
I reported a bug for nicescroll on a wrong page
you can close this topic

bye

[2016-04-30 12:24] #112 closed

[2016-05-02 07:13] PeterDaveHello opened #119 "Transfer to use mongodb"
Load whole the `packages.min.json` to memory will make the heroku app crash(https://github.com/cdnjs/cdnjs/issues/7623#issuecomment-212145577), it's time to transfer to use something like mongodb.

 `packages.min.json` can still be there so that we still have a file containing all the artifacts, and also we don't need to change the procedure to generate the artifacts, so there may be two things to

[2016-05-02 07:13] PeterDaveHello commented on #82
hmmmm ... no problem now.

[2016-05-02 07:13] #82 closed

[2016-05-02 07:19] PeterDaveHello commented on #50
Sorry for the late reply. Not sure if I understand correctly, @srcspider did you mean that you want the libraries hosted on CDNJS can be gzipped with the largest compression level so you can have smaller files? If so, maybe we can not do that, CloudFlare is using there optimal gzip to compress the files on-the-fly, not the pre-compression, in fact, for png images, we already used the zopfli algori

[2016-05-12 14:31] PeterDaveHello opened #121 "Improve "library request link" and its wording in search result."
In #114 #116, @francisbrito added feature that displays friendly library not found message and dynamic library request link, however, it only relies on if we get result or not, the problem is: even we got the result from searching, it may be a fussy search result, maybe that's not the lib the user wanted, so we should still display library request link with a friendly message.

[2016-05-12 14:38] #121 closed

[2016-05-13 10:30] DataTables opened #122 "GitHub repos assumed in Javascript"
[It looks like it is assumed that a repo will be hosted on github](https://github.com/cdnjs/new-website/blob/c49294be3dd6a611728fe9de00dbcc17cbbab25a/public/js/main.js#L127). This of course is not always the case and a number of search results are resulting in errors:

main.js:10 Uncaught TypeError: Cannot read property 'repo' of undefined

For example load: https://cdnjs.com/#q=pdf .

[2016-05-13 11:11] PeterDaveHello commented on #122
@DataTables Thanks for report, I will take a look at it.

[2016-05-14 05:23] PeterDaveHello commented on #122
@DataTables this is because we currently only support GitHub, I don't this that's a problem.

[2016-05-14 06:08] DataTables commented on #122
The thing is that this issue breaks the site. For example, if you load up the main page and type `p` you'll see the results for that letter - then type `d` to search for `pd` and there is a Javascript error so its impossible to view results for `pd` (and also `pdf`). Basically any package that you list which doesn't have a `github` object (which appears to be quite a few of them) causes the search

[2016-05-14 06:09] PeterDaveHello commented on #122
Oops, sorry that I didn't notice that, should fix it!

[2016-05-14 06:09] DataTables commented on #122
Looks like it was only just introduced a few days ago with c0c0125d7b6529e9ca02225e4504045fadca3384.

[2016-05-14 06:15] #122 closed

[2016-05-14 06:26] PeterDaveHello commented on #122
@DataTables fixed, thank you very much for your report, the update has deployed, would you please purge your local cache and give it a try? Thanks.

[2016-05-14 17:13] DataTables commented on #122
Absolutely awesome - thanks.

And thank you for maintaining this awesome resource. cdnjs is just such a wonderful tool to be able to have for web devs.

[2016-05-14 17:13] PeterDaveHello commented on #122
@DataTables no probs

[2016-05-15 07:19] #69 closed

[2016-05-25 19:47] vk011 opened #124 "Keep scrolling normally after sections?"
Hello,

The plugin works great, but after all the sections I have a footer, would it be possible to scroll to that footer normally after the last section?

[2016-05-28 05:16] PeterDaveHello opened #125 "Copy button may not work properly in some environments"
Found this problem on my Raspberry Pi 3 with latest Raspbian and Iceweasel browser (based on Firefox)
![screenshot - 05282016 - 01 15 14 pm](https://cloud.githubusercontent.com/assets/3691490/15625356/3f057810-24d6-11e6-9c51-9115e3bb5ba3.png)

[2016-06-01 00:06] thomasdavis commented on #119
@PeterDaveHello Can you add my personal email as a collaborator. I will fix this tonight and fix the redux  page too.

[2016-06-01 08:57] PeterDaveHello commented on #119
@thomasdavis you mean where? Heroku?

[2016-06-01 10:22] thomasdavis commented on #119
Got access to it, all good.

[2016-06-01 11:03] PeterDaveHello commented on #119
@thomasdavis do me a favor, let's create another free heroku dyno and another git branch for this feature first, we need to make sure everything stable than update the build script.

[2016-06-02 00:08] thomasdavis commented on #119
@PeterDaveHello I've started working on a new branch called `rewrite`

- I will set it up to use mongo/redis/memcache, not sure yet.
- It will use es6 (node 6.2.0)
- Because the packages will be external we can move towards separating the api and webserver
- will make it more modular and just cleaner code
- we will change over to use pm2 for app instances, don't see why we won't be able to run 5 a

[2016-06-02 04:56] PeterDaveHello commented on #119
@thomasdavis are the features you are going to use compatible with nodejs v4? Actually I have some problems with nodejs v6 like the broken build of cdnjs or something, so that's the reason why we still stay on nodejs v4 until now.

[2016-06-02 04:57] thomasdavis commented on #119
It won't be, thus we will have to segment the server code quite a bit. It can live in this branch for a while until then.

[2016-06-02 12:12] PeterDaveHello commented on #113
hmmmm ... any suggestion about how to fix it? Thanks.

[2016-06-02 12:17] PeterDaveHello opened #126 "Show some animation when waiting for searching result loading"
To improve user experience.

[2016-06-02 12:18] PeterDaveHello commented on #124
Hi @vk011,
Sorry for the late reply, I didn't really got your problem, can you explain in detail? Thanks.

[2016-06-02 12:24] vk011 commented on #124
I am sorry I somehow posted this in the wrong place.

[2016-06-02 12:47] #124 closed

[2016-06-02 18:15] hussain0x00 commented on #113
Hello @PeterDaveHello

Encode every datum that is given by a user. If data is not given by a user but supplied via the GET parameter, encode these data too. Even a POST form can contain XSS vectors. So, every time you are going to use a variable value on the website, try cleaning for XSS.

These are the main data that must be properly sanitized before being used on your website.

The URL HTTP refe

[2016-06-02 18:17] PeterDaveHello commented on #113
@hussain0x00 hmmm ... thanks, actually we are using expressjs, not php, but I will see how can we fix this problem. cc @cdnjs/team-cdnjs

[2016-06-03 06:05] IonicaBizau commented on #113
@hussain0x00 I updated your comment by fixing the special character displaying. 😁

[2016-06-03 12:42] PeterDaveHello opened #127 "Design a 404 not found page."

[2016-06-05 16:31] PeterDaveHello opened #128 "Wrong request to cdnjs.com"
There are many 404 not found urls should point to `cdnjs.cloudflare.com` but pointed to `cdnjs.com/cdnjs.cloudflare.com`

[2016-06-05 16:39] #128 closed

[2016-06-21 13:24] dakshshah96 commented on #127
Can I help?

[2016-06-21 13:25] thomasdavis commented on #127
Absolutely! What do you have in mind? =D

[2016-06-21 13:25] dakshshah96 commented on #78
Possible duplicate: #127

[2016-06-21 13:27] PeterDaveHello commented on #127
Move to #78

[2016-06-21 13:27] #127 closed

[2016-06-21 13:27] PeterDaveHello commented on #78
Thanks @dakshshah96

[2016-06-21 13:37] dakshshah96 commented on #78
I can work on a few mockups to give a basic idea of what I have in mind.

[2016-06-21 13:37] thomasdavis commented on #78
Anything is better than nothing =D

[2016-06-21 13:40] PeterDaveHello commented on #78
@dakshshah96 That'll be great!

[2016-06-21 20:13] dakshshah96 commented on #78
What do you think?

<img width="1280" alt="cdnjs-404" src="https://cloud.githubusercontent.com/assets/7896438/16244654/c68d5220-3805-11e6-9671-4c0002d0f02b.png">

[2016-06-22 10:21] PeterDaveHello commented on #78
Looks good, can we have the same header / banner as other page here?

[2016-06-22 10:24] dakshshah96 commented on #78
@PeterDaveHello You mean, this?
<img width="1172" alt="screenshot 2016-06-22 13 23 38" src="https://cloud.githubusercontent.com/assets/7896438/16263338/95012192-387c-11e6-88c9-364a56de252b.png">

[2016-06-22 10:24] PeterDaveHello commented on #78
Yes!

[2016-06-22 10:41] dakshshah96 commented on #78
What do you think?
![cdnjs-404-new](https://cloud.githubusercontent.com/assets/7896438/16263826/fd45fc4e-387e-11e6-8a60-2d4429025d2b.jpg)

[2016-06-22 12:47] PeterDaveHello commented on #78
Looks fine, we can just use the original layout with the new body as the result, let's do it in code?

[2016-06-22 13:20] dakshshah96 commented on #78
Yes, the original layout itself can be used 👍 Sure, let's get started

[2016-07-09 11:28] PeterDaveHello commented on #113
@hussain0x00 would you please tell me how to reproduce that problem? The gif you provided isn't in cdnjs.com, thanks.

[2016-07-09 11:57] #93 closed

[2016-07-09 13:01] PeterDaveHello commented on #99
Did in #93

[2016-07-09 13:01] #99 closed

[2016-07-09 14:26] PeterDaveHello commented on #126
* 3f1a95a set appLoading animate color Peter Dave Hello 2 minutes ago
* 8657745 adj appLoading js codes Peter Dave Hello 2 minutes ago
* fac9a6a use on(input) instead on(keyup change) for searchHandler Peter Dave Hello 3 minutes ago
* b98c012 add search progress animate via "app-loading" Peter Dave Hello 50 minutes ago
* 51a7bc3 include "app-loading" library Peter Dave Hello 50 minutes ago

[2016-07-09 14:26] #126 closed

[2016-07-09 15:03] thomasdavis commented on #126
nice

[2016-07-11 11:29] PeterDaveHello commented on #33
Should be fixed in #65

[2016-07-13 13:17] merhawifissehaye opened #131 "bootstrap-slider error - Forbidden"
https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js

This link throws 403 error

[2016-07-13 13:20] #131 closed

[2016-07-15 11:56] PeterDaveHello opened #133 "Add a option to display more search results."
There are at least 245 jQuery related libraries in our repository, but search result(https://cdnjs.com/#q=jquery) will only display the top 20, can't not see the remaining.

[2016-07-17 08:48] peey opened #134 "cdn URLs are relative on some library pages, absolute on some others"
For example, the page at https://cdnjs.com/libraries/normalize
shows links in the format `https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css`

And the page at https://cdnjs.com/libraries/lodash.js/
shows links in the format `lodash.js/4.13.1/lodash.js`

I would suggest using the full/absolute url everywhere. Or at least that the prefix 'https://cdnjs.cloudflare.com/ajax/libs/' be

[2016-07-17 09:43] PeterDaveHello commented on #134
@peey I think they are totally the same, the pages you have no prefix may be caused by the not executed js functions, would you please try to refresh?  Thanks.

[2016-07-17 14:53] peey commented on #134
It was likely a caching issue. I still saw this bug until I used the "browse library" function and it somehow got fixed.

[2016-07-17 14:53] #134 closed

[2016-07-18 08:40] sabrinaluo opened #135 "Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed"
Hi, I'm using
`chrome Version 51.0.2704.106 (64-bit)`
`3.16.0-38-generic #52~14.04.1-Ubuntu SMP Fri May 8 09:43:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

Can't see the copy button anymore, and there is an error in the console.

What should I do to get the lib url? thank you.

[code]

![selection_106](https://cloud.githubusercontent.com/assets/5300359/16909638/7c1b5762-4d06-11e6-9fc3-4d9fc01ef45

[2016-07-21 14:19] PeterDaveHello commented on #135
@sabrinaluo would you please try it again? Actually I don't this error message you provided really have something to do with this problem, the error is a known issue just didn't been solved yet, would you please try it again? Or just use `Ctrl` + `F5` to force refresh this page? Thanks.

[2016-07-22 03:03] sabrinaluo commented on #135
Hi, I can see the `copy` button now, and it's good to use.
But I still see the error message in the console. So the error might not be relevant to the button issue.
![selection_109](https://cloud.githubusercontent.com/assets/5300359/17045339/28cea59e-4ffb-11e6-95dc-fcdd54e43384.png)
It shows the full URL of each lib now, so even if the button doesn't show or work, I still can get the URL.

This is

[2016-07-22 12:13] PeterDaveHello commented on #135
Yes, the error it's about the js codes inserted from CloudFlare CDN, should have nothing to do with your problem.

[2016-07-22 12:13] #135 closed

[2016-08-25 14:08] PeterDaveHello opened #136 "Can not display lib page with lib's name containing "." (dot)"

[2016-08-25 14:09] #136 closed

[2016-09-02 08:02] PeterDaveHello opened #138 "Also implement CSP and HPKP headers in API headers"

[2016-09-02 20:48] alrra opened #140 "https://cdnjs.com/libraries/browser-logos => 500 Internal Server Error"
When I try to access https://cdnjs.com/libraries/browser-logos, I get an `Internal Server Error`.

![](https://cloud.githubusercontent.com/assets/1223565/18217827/ac72a2f0-7167-11e6-877d-a5693c8b270d.png)

[code]

[2016-09-03 06:57] PeterDaveHello commented on #140
@alrra Thanks for your bug report.

[2016-09-03 09:10] #140 closed

[2016-09-03 09:10] PeterDaveHello commented on #140
@alrra that's a stupid bug I made and now fixed, thanks for your report!

[2016-09-03 09:19] alrra commented on #140
Thanks @PeterDaveHello! 💜

[2016-10-17 03:36] PeterDaveHello opened #142 "search reindex not working properly"
There are many Enrich processes after index done and meta data saved, which causes many GitHub info out-dated ... not sure when is the first time the problem appear yet.

Example:
[code]

[2016-10-17 04:15] #142 closed

[2016-10-22 05:42] PeterDaveHello opened #143 "BreadcrumbList support"
- http://schema.org/BreadcrumbList
- https://developers.google.com/search/docs/data-types/breadcrumbs

[2016-11-05 16:47] PeterDaveHello opened #145 "Add button/link to request for library update"
Just like the link to request new lib!

[2016-11-22 12:50] PeterDaveHello opened #146 "Add library's npm package and downloads count per month info"
Just like the GitHub repository and popularity info :)

Part 1: Algolia search
Part 2: library package

GitHub repo link and popularity info example:

![image](https://cloud.githubusercontent.com/assets/3691490/20524392/57779ea4-b0f5-11e6-85f0-e0f3adbef802.png)

[2016-11-22 13:10] PeterDaveHello commented on #60
Added a $5 minimum bounty for this issue.

[2016-11-22 13:11] PeterDaveHello commented on #60
@cdnjs/intern @cdnjs/intern2 any one want to take this?

[2016-11-22 14:10] PeterDaveHello commented on #78
@dakshshah96 do we have any updates here? Thanks!

[2016-11-22 14:19] PeterDaveHello commented on #8
http://api.cdnjs.com/libraries/jquery

[2016-11-22 14:19] #8 closed

[2016-11-23 03:43] pvnr0082t commented on #60
I'd like to try it.

[2016-11-23 04:03] maruilian11 commented on #60
I can try it in my free time, too.

[2016-12-05 05:17] willyb321 commented on #76
I've started working on this [here](https://github.com/willyb321/new-website).

[2016-12-10 05:26] #76 closed

[2016-12-10 05:26] PeterDaveHello commented on #76
@willyb321 I think it's time to claim your bounty on the page 👍

[2016-12-10 05:28] willyb321 commented on #76
@PeterDaveHello done!

[2016-12-10 05:29] PeterDaveHello commented on #76
Confirmed!

[2016-12-20 13:02] PeterDaveHello opened #148 "Search highlight enhancement"
search pattern:
 - `smalot bootstrap-datetimepicker`
 - `smalot/bootstrap-datetimepicker`

The repository part, only the author string will have highlight, only `smalot\/bootstrap-datetimepicker` can highlight them together (but not slash)

[2017-01-02 13:50] nikhs opened #150 "Hired Banner z-index"
The version selector and the cdn provider selector show up over the Hired Banner.

![cdnjs_issue](https://cloud.githubusercontent.com/assets/3126771/21590275/62439590-d120-11e6-8713-364e2af5acd8.PNG)

[2017-01-02 14:12] PeterDaveHello commented on #150
Maybe we could just remove the banner now ...

[2017-01-02 14:16] #150 closed

[2017-01-17 07:22] #60 closed

[2017-01-17 07:50] PeterDaveHello commented on #60
@pvnr0082t please claim your bounty here: https://www.bountysource.com/issues/25713763-add-star-and-fork-on-each-lib-s-page

[2017-01-18 14:34] PeterDaveHello opened #152 "SRI support on search result"
We only support SRI info on the library page right now, should work on the search result soon.

[2017-02-07 09:32] PaoloFalomo opened #153 "Bad font rendering on library template"
Hi there!

## The problem
Currently the number of views,stars and forks of a library is inside the `<i>` html compromising the font-rendering of the number:
![image](https://cloud.githubusercontent.com/assets/10535089/22685202/b7a25c5e-ed1f-11e6-8bc8-f3fddb3e8b55.png)

## Proposed solution
Edit the unordered list inside the library [template](https://github.com/cdnjs/new-website/blob/master/templa

[2017-02-16 15:56] PeterDaveHello commented on #153
@PaoloFalomo thanks for your report, would you like to send a pull request? Thanks!

[2017-02-16 16:13] PaoloFalomo commented on #153
Yep, but i am not able to do that. Can u help me?

[2017-02-16 16:14] PeterDaveHello commented on #153
@PaoloFalomo Not your if you are familiar with pull request?
https://help.github.com/articles/about-pull-requests/
https://help.github.com/articles/creating-a-pull-request/

[2017-02-16 16:19] PaoloFalomo commented on #153
thank u @PeterDaveHello ,

but i get this error when trying to publish my branch:
![image](https://cloud.githubusercontent.com/assets/10535089/23029826/0eb16136-f46c-11e6-85c2-59830d2be1be.png)

[2017-02-16 16:49] PeterDaveHello commented on #153
@PaoloFalomo what is the environment and what are the steps to here? Maybe you'll try a easier way - to directly edit the file and fire a pull request online?

There is a edit button here: https://github.com/cdnjs/new-website/blob/master/templates/library.html

[2017-02-16 16:54] PaoloFalomo commented on #153
oh yea @PeterDaveHello !! That's great i've just lost my pullrequest verginity. 😸

[2017-02-16 16:54] #153 closed

[2017-02-16 17:06] PaoloFalomo commented on #125
I've seen [this thread](http://stackoverflow.com/questions/400212/how-do-i-copy-to-the-clipboard-in-javascript) about the **copy feature**.

I suggest to improve this with a detection if the copy feature is not available and show an alert that easly allow to copy the string manually:

[code]

[2017-02-16 17:09] PeterDaveHello commented on #125
Sounds great!

[2017-02-16 17:11] PaoloFalomo commented on #125
OK, (if u want) let's assign that to me, i'll figure it out how to solve this 👍

<img src="https://cloud.githubusercontent.com/assets/10535089/23031972/39f433c6-f473-11e6-9631-cb88f2ba4df6.png" width="200">

[2017-02-16 17:11] PeterDaveHello commented on #125
@PaoloFalomo you are very welcome to take it, no problem!

[2017-02-18 18:32] PeterDaveHello commented on #78
Hello @dakshshah96 ?

[2017-02-18 18:38] PeterDaveHello opened #155 "Improve library browse page"
It's not that good to list all the libraries at once: https://cdnjs.com/libraries

Ideas:
 1. Add a simple filter like we use on https://cdnjs.com.tw/ demo (provided by caddy server), note that filter is not search or fuzzy search.
![image](https://cloud.githubusercontent.com/assets/3691490/23095846/13db9690-f64c-11e6-9b8c-4c3ac44af3f6.png)
![image](https://cloud.githubusercontent.com/assets/36914

[2017-02-19 05:32] dakshshah96 commented on #78
Hey @PeterDaveHello, I've cloned this repo onto my Mac locally and also installed `node` as well as `npm` using Homebrew. How do I run a local instance of cdnjs on my machine now? Sorry, but I'm not so literate about working with node.js.

[2017-02-19 08:57] PeterDaveHello commented on #78
@dakshshah96 glad you solved the local instance issue.

Our website backend code is located at https://github.com/cdnjs/new-website/blob/master/webServer.js, we development the web base on expressjs framework.

As you can see, currently, we only return a string for the 404 status, so the plan is to do something very like 6ef10eded3fcd6cd051f1d7fdceb8a002e47357c, which is add a api doc page, all yo

[2017-02-19 10:38] dakshshah96 commented on #78
Hey @PeterDaveHello, thanks for the clarification. I get it now 👍

I'm facing an issue working on the local repo yet again. I forked the `cdnjs/new-website` on GitHub and cloned the repo from my GitHub profile into my Mac. I've also setup a new remote using `git remote add upstream https://github.com/cdnjs/new-website.git`. However, when I use `git status` to confirm if everything's fine even befo

[2017-02-19 10:39] PeterDaveHello commented on #78
@dakshshah96 try `git reset --hard` to clean it up?

[2017-02-19 10:45] dakshshah96 commented on #78
Same issue again. 😕

<img width="762" alt="screenshot 2017-02-19 16 15 15" src="https://cloud.githubusercontent.com/assets/7896438/23101652/af500882-f6be-11e6-9597-ec54ac00e922.png">

[2017-02-19 10:52] PeterDaveHello commented on #78
@dakshshah96 I think it's caused by the case-insensitive filesystem on MacOS, if you have FreeBSD or Linux, work with them and the problem will just disappear, if you don't have one, you'll need to enable sparseCheckout to prevent to checkout the sri directory : https://github.com/cdnjs/cdnjs/blob/master/documents/sparseCheckout.md, this should help.

[2017-02-19 11:18] dakshshah96 commented on #78
@PeterDaveHello So I'll have to manually list all the directories except `/sri` in the `sparse-checkout` file? Is there any way to just prevent the `/sri` directory instead of listing out all the directories I want?

[2017-02-19 11:55] dakshshah96 commented on #78
@PeterDaveHello I'm done with making the template. I can't understand how to modify the `webServer.js` file to link to my 404 template whenever a page is not found. Help needed 😅

[2017-02-19 12:00] PeterDaveHello commented on #78
@dakshshah96 I'm happy to help, just to make should which kind of help you'll like to have?
1) I'll give you the reference, doc and example to help you learn expressjs and finish the part of code
2) I directly write this part

[2017-02-19 12:01] dakshshah96 commented on #78
@PeterDaveHello Of course the first option haha. Learning any day!

[2017-02-19 12:09] PeterDaveHello commented on #78
@dakshshah96 cool, so I need to have have you ever read any doc about expressjs?

The part you'll need to know is routing, so that you can route 404 to the page you added:
https://expressjs.com/en/starter/basic-routing.html

This is how we define and include the template
https://github.com/cdnjs/new-website/blob/c7b05c06f40b51485867f702e6fedefbe7867340/webServer.js#L93-L109

The function `generate

[2017-02-19 12:10] PeterDaveHello commented on #78
cc @pvnr0082t @sufuf3

[2017-02-20 22:40] PeterDaveHello commented on #62
Since modern browsers seem to remember the input when we go back, I'll do a simple trick to trigger the searchHandler again here, @redox if you are still interested in help or give suggestions, I'll be really appreciate! Thanks.

[2017-02-20 22:41] #62 closed

[2017-02-22 00:08] PeterDaveHello opened #157 "Add missing "Last-Modified" and "ETag" headers"
We don't have these two headers for the pages

Some ref:
https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching
http://dev.mobify.com/blog/beginners-guide-to-http-cache-headers/

[2017-02-22 11:15] PeterDaveHello commented on #157
@pvnr0082t wanna take a look? Not hard at all at code level but you'll learn something about web performance and cache control.

[2017-02-24 07:21] PeterDaveHello opened #158 "Display library assets group by types"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=42392527)](https://www.bountysource.com/issues/42392527-display-library-assets-group-by-types?utm_source=42392527&utm_medium=shield&utm_campaign=ISSUE_BADGE)

Groups examples:
- js
- css
- image
- font
- other

[2017-02-25 22:38] PeterDaveHello commented on #119
Ignore this one.

[2017-02-25 22:38] #119 closed

[2017-02-28 09:59] gmalz commented on #158
Hello, I would like to know more about your problem?
For example, on what language? At what level ?

[2017-02-28 11:06] PeterDaveHello commented on #158
@gmalz I think all the library names would be in English and numbers 😄

[2017-03-09 13:59] #41 closed

[2017-03-12 19:43] PeterDaveHello opened #164 "[Bug] Empty search bar should not clean up the library list"
On the libraries page: https://cdnjs.com/libraries, if you search something and then clean it up, the library list will be cleaned up, should be the origin content.

[2017-03-14 12:02] #164 closed

[2017-03-14 12:22] bhargav175 commented on #78
@dakshshah96 I have the exact same issue. Quite struggling with it each time. `git reset --hard` din't seem to work for me either.

[2017-03-14 16:12] PeterDaveHello commented on #78
@bhargav175 are you on Windows or MacOS? git sparseCheckout enabled?

[2017-03-14 16:24] bhargav175 commented on #78
I m on a Mac. I will try sparse checkout soon and let you know.  That
should work given that the problematic folder is 'sri'.

On Tue 14 Mar, 2017, 9:42 PM Peter Dave Hello, <notifications@github.com>
wrote:

--
Thanks,
Bhargav Ponnapalli
Expert mentor at Codementor.io
https://www.codementor.io/bhargavponnapalli

[2017-03-15 04:20] bhargav175 opened #166 "Move to a better frontend framework (like React?)"
The library page and search results have good behaviour and as the app grows, the imperative style code using jQuery will get out of hand and fixing one bug will break up another section of the app.

I suggest we move to React, because it's significantly light weight and it's declarative style syntax gives us modular, scoped and readable code. Thoughts? Framework suggestions are welcome!

[2017-03-15 06:40] PeterDaveHello commented on #166
@bhargav175 the change could be too huge, from this on, all the contributors will need to know about react, as we don't have enough active contributors in the meantime, this could make us less contributors, and make the gap to contribute higher, I prefer not to move to react but improve the ui/ux/features under current structure :)

[2017-03-15 07:04] bhargav175 commented on #166
Makes sense. I had a feeling that would be the case. But yes, we could
probably structure our code better but continue to stick with plain js and
jquery. What are your thoughts on having a having a front-end build system?

On Wed 15 Mar, 2017, 12:11 PM Peter Dave Hello, <notifications@github.com>
wrote:

--
Thanks,
Bhargav Ponnapalli
Expert mentor at Codementor.io
https://www.codementor.io/bhargav

[2017-03-15 07:16] PeterDaveHello commented on #166
@bhargav175 right now, I'll prefer to focus on keep improving current codes, but I won't mind to have some tries on react or other framework. For the build system, do you mean gult or grunt?

[2017-03-15 07:22] bhargav175 commented on #166
Gulp is fine but Web pack is better.
Yeah I will keep knocking the help-wanted issues out, but in parallel i
will see if I can come up with a quick demo in react.

On Wed 15 Mar, 2017, 12:46 PM Peter Dave Hello, <notifications@github.com>
wrote:

--
Thanks,
Bhargav Ponnapalli
Expert mentor at Codementor.io
https://www.codementor.io/bhargavponnapalli

[2017-03-17 04:23] bhargav175 commented on #54
@PeterDaveHello Which libs are those? Can you share links to the pages of those libs in the website?

[2017-03-21 11:11] PeterDaveHello commented on #113
Close due to no response.

[2017-03-21 11:11] #113 closed

[2017-03-21 11:12] #33 closed

[2017-03-22 05:28] bhargav175 commented on #158
@PeterDaveHello Want to fix this, can you elaborate the issue a little more?

[2017-03-22 15:34] PeterDaveHello commented on #158
@bhargav175 sure thing, currently we list the assets all in the same block, please take codemirror as exmaple, what we want to do is to group the different file types in the different blocks, the special part here is to put the map file with its origin file, may be css or js file.

[2017-03-22 17:12] PeterDaveHello opened #167 "Move to use algoliasearch lite version?"
Just take a look at different algolia v3.21.1 releases:
[code]

I wonder if we can use algoliasearchLite instead, 56% size diff, could make the website lighter, should compare the different parts and trace the related codes and then we'll know if we can move to the lite version.

[2017-03-22 17:15] PeterDaveHello commented on #167
Hi @redox ! It's been a while since our last conversation, would you be interested in take a look at this one? (Since I think you're the one most familiar with it 😄 ) Thanks!

[2017-03-22 18:43] redox commented on #167
Oh wow, sure 👍

[2017-03-22 21:59] PeterDaveHello commented on #167
Thanks @redox

[2017-03-24 07:45] #167 closed

[2017-04-09 10:49] sufuf3 commented on #58
Hi @PeterDaveHello I want to take this.
The testing framework I would use [jasmine](https://github.com/jasmine/jasmine.github.io).
And the coding style will follow [airbnb/javascript](https://github.com/airbnb/javascript) .

I want to write the unit test of `webServer.js` by the Decision table testing as the following.

  * if test `/` , the status code should show 200 OK.
  * if test `/request-ne

[2017-04-11 14:55] PeterDaveHello commented on #58
This is not what we call "unit test", which should test from the small functions, http status is not in this part actually.

[2017-04-11 16:29] sufuf3 commented on #58
I was thought that user may try any strange library name which not includes in CDNJS.
So I was thinking that maybe this should be tested.

If this project does not need test status code, how about test functions as the followings?
* libraryGitRepoList(library)
* librarylicensesList(library)
* libraryAssetsList(library, version)
* GitHubMetaInfo(library)

If this is OK, I will test the library in C

[2017-04-11 16:30] PeterDaveHello commented on #58
@sufuf3 I think you should figure out what a unit test it.

[2017-04-12 06:58] qas612820704 opened #171 "Request new lib just redirect to /request-new-lib, doesn't need "request" param to render page."
Just change
[code]
into
[code]

because we already have
[code]

So we no longer need this

[code]

How abut this?

[2017-04-12 07:06] qas612820704 commented on #171
I create a pull request #172.

[2017-04-12 07:16] qas612820704 commented on #155
Hi @PeterDaveHello, can you detail about 1?
I don't know the difference between the origin one and the goal.

[2017-04-12 16:24] PeterDaveHello commented on #155
@qas612820704 of course, I wanted to add a simple "filter" in the libraries page, it'll not like to fuzzy search feature like the homepage one, but I'm not sure if this is really good or something we really need yet, just an opening discussion here, thanks!

[2017-04-16 15:03] sufuf3 commented on #58
@PeterDaveHello  I will try to do as the following steps:
1. write the test cases for libraryGitRepoList(library), librarylicensesList(library), libraryAssetsList(library, version), GitHubMetaInfo(library), libraryResponse(req, res)
2. Improving the code refactoring, factoring the function code with the route. During factoring the function, I will follow the coding style of airbnb/javascript.
3. w

[2017-04-19 03:46] PeterDaveHello commented on #171
Move to #172

[2017-05-03 10:32] qas612820704 opened #174 "Adding coding style checker like eslint?"
Here is example.
[code]

By using `eslint`, the example set style to `google`

[code]

- **Q1**: Do we need this?
- **Q2**: What style should be used?
  - airbnb
  - google
  - standard

Any suggestion?

[2017-05-03 10:52] qas612820704 opened #175 "Restructing webServer.js. ex: separate routes to a route dir"
Eg:
[code]

It can separate into

[code]
and
[code]

It can let codes more concise.

I have interest about restructing this app, and standardize the coding style by lint #174.

Is there any **suggestion** and **principle** to follow?

[2017-05-03 10:52] #171 closed

[2017-05-08 03:45] PeterDaveHello opened #176 "Display how many search results are found."
Related #133

[2017-05-10 09:46] qas612820704 commented on #155
Hi @PeterDaveHello , I'm sorry response so late.

The https://cdnjs.com/libraries has two different views.
1. One is generated by server.
![screenshot from 2017-05-10 17-27-30](https://cloud.githubusercontent.com/assets/8502252/25892241/5388a726-35a6-11e7-8076-8d7c25f9b19f.png)
2. The other is the search results of algolia
![screenshot from 2017-05-10 17-27-53](https://cloud.githubusercontent.com/

[2017-05-10 11:23] qas612820704 commented on #148
If we submit `smalot\/bootstrap-datetimepicker` to algoria,

it considers that `\/` is kind of typo not escape character `/`.

The result will be the same if we change `\/` to `1/` or `~/`.

So, do we need to add function that if we submit `author/repo` it will search by github?

[2017-05-14 16:02] PeterDaveHello commented on #174
Maybe we can just use jscs like this:
https://github.com/cdnjs/cdnjs/commit/312a5abde77286bc211d0209196d6e8e872b4b09

[2017-05-14 16:07] PeterDaveHello opened #179 "Handle renamed libraries via redirection."
Currently we use symbolic links to make sure both new/old names work on CDN, but it'll not work on the website as there is no record in `public/packages.min.json`.

To implement this feature, we need to add a function in [cdnjs/cdnjs](https://github.com/cdnjs/cdnjs)'s `build/packages.json.js` to add record of libraries with symbolic links, and implement 302/301 redirect route in `webServer.js` app

[2017-05-14 16:09] PeterDaveHello commented on #179
Libraries with symbolic links currently:
[code]

[2017-05-17 06:45] dakshshah96 commented on #146
We can use the following to get download info from npm:

(**Using d3 as an example, replace d3 with package name**)

* Last day: https://api.npmjs.org/downloads/point/last-day/d3
* Last week: https://api.npmjs.org/downloads/point/last-week/d3
* Last month: https://api.npmjs.org/downloads/point/last-month/d3

[2017-05-18 00:09] PeterDaveHello commented on #146
Decide not to implement this, GitHub popularity could be good enough.

[2017-05-18 00:09] #146 closed

[2017-05-18 00:15] PeterDaveHello commented on #155
It should use the page generated by the server directly, however I wonder if this feature would make users confused and maybe we should focus on other features with more value I think, thanks for discussion here.

[2017-05-18 00:15] #155 closed

[2017-05-18 00:17] PeterDaveHello commented on #148
IMO it's not about what do we submit to algolia, but how we highlight them in https://github.com/cdnjs/new-website/blob/master/public/js/main.js, agree?

[2017-05-18 00:31] PeterDaveHello commented on #54
 @bhargav175 sorry for the late reply, I think you can take a look at `material-design-icons`, it's version 3.0.1 contains 82290 files.

[2017-05-24 22:27] ahmetb opened #180 "add link to github repo"
There are no links to this github repo/org from most cdnjs.com page, there's only link to PeterDaveHello's github profile.

I had to click "Contact us", only then I found out I must report issues on GitHub.

[2017-05-24 22:28] ahmetb opened #181 "Add "integrity" attribute to "Copy script tag""
Ay plans to `integrity="<hash>"` attribute to the "Copy script tag" functionality?

For example:

[code]

[2017-05-27 00:08] PeterDaveHello commented on #181
@ahmetb wanna send a pull request to add it?

[2017-05-27 00:11] PeterDaveHello commented on #180
There is link of https://github.com/cdnjs/cdnjs on the corner, should be good enough for most users, as it's the main cdnjs repo, and also contains website repo info in the readme, also we don't really mind that you created issues at cdnjs/cdnjs (Though creating issue at cdnjs/new-website is of course better 👍 ), thanks for suggestion anyway.

[2017-05-27 00:11] #180 closed

[2017-05-28 12:37] dakshshah96 commented on #78
Hey @PeterDaveHello,

I'm in a good position now to work on this as I've started learning Express. I've done the following till now:

* Created a new file `notfound.html` in the `templates` directory containing the body of content to render on the 404 error page.
* Added `404: getTemplate('templates/notfound.html', true)` to the `templates` object in `webServer.js`.
* Created a new middleware to h

[2017-05-28 23:17] PeterDaveHello commented on #78
@dakshshah96 please send your pull request first, can't debug without the codes.

[2017-05-29 15:32] dakshshah96 commented on #78
@PeterDaveHello Okay, sure!

[2017-06-03 08:33] #78 closed

[2017-06-03 08:34] PeterDaveHello commented on #78
@dakshshah96 please claim your bounty 👍

[2017-06-03 08:43] dakshshah96 commented on #78
@PeterDaveHello Thanks 😄 Claimed.

[2017-06-03 08:44] PeterDaveHello commented on #78
As I moved library not found to the search result, updated the title and comment.

[2017-06-10 22:56] PeterDaveHello opened #184 "Reached the memory limit on heroku, need rewrite"
[code]

As we write almost everything into a single `packages.min.json`, the memory cost is very high, maybe should need to rewrite this part, store date library by library, version by version, like how do we store the SRI data.

[2017-06-10 22:56] PeterDaveHello commented on #184
cc @cdnjs/owners

[2017-06-15 15:38] FezVrasta opened #319 "Any way to specify a suggested/main file?"
With unpkg.com I get as default resource the one pointed out by my `package.json#main` field, is there any way to highlight a specific URL/file in cdnjs to help my users pick the most commonly used one?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46254709-any-way-to-specify-a-suggested-main-file?utm_campaign=plugin&utm_content=t

[2017-06-18 14:00] dakshshah96 commented on #181
@PeterDaveHello, can I help with this? :)

[2017-06-20 00:22] ahmetb commented on #181
Looks like it's fixed now. We can close this.

[2017-06-20 00:22] #181 closed

[2017-06-21 04:29] PeterDaveHello commented on #181
Partially solved only, see #152 :)

[2017-06-30 07:34] #72 closed

[2017-07-02 18:50] PeterDaveHello opened #189 "[Bug] [Website] Too large Algolia logo on mobile."
Though we don't really support mobile devices yet (the layout it's just for desktop as 99.9% web developers won't use their phone to write webpage), the size of Algolia logo is pretty too large.

Screenshot:
![default](https://user-images.githubusercontent.com/3691490/27772705-24355b7c-5f9a-11e7-9f1d-2831c0840c69.png)

I believe that this appears after #173, which turned to use svg image on logo w

[2017-07-03 07:20] Haroenv commented on #189
That's right, it only happens on mobile user agents, is there a mobile/desktop version of the page?

[2017-07-03 07:22] PeterDaveHello commented on #189
@Haroenv We have only one version, so it's decided by user-agent? Didn't notice that!

[2017-07-03 07:23] Haroenv commented on #189
I don't understand it either, but if you spoof the user agent, you can see the difference between mobile and desktop, even on the same screen size

<img width="440" alt="screen shot 2017-07-03 at 09 23 20" src="https://user-images.githubusercontent.com/6270048/27782083-442c48d2-5fd1-11e7-827d-c4b1ea2660e2.png">
<img width="467" alt="screen shot 2017-07-03 at 09 23 10" src="https://user-images.gith

[2017-07-03 08:35] PeterDaveHello commented on #189
Wow, that's interesting! There may be a secret inside that svg image that we don't know 🤔

[2017-07-03 08:36] Haroenv commented on #189
I have a feeling that different css is sent depending on the UA, but didn't dig deep enough. It's definitely not in the svg itself, I wrote that

[2017-07-03 08:39] PeterDaveHello commented on #189
hmmm ... we use same `main.css` and `theme.css`, I'll test the website locally to see if there is any difference in case of there is any config on CDN touched the files, but looks like we don't have the same problem before switching to svg logo.

[2017-07-03 18:31] dakshshah96 commented on #189
This is definitely happening because of a user-agent dependant rule. I tested it out and noticed the following:

* The Algolia logo is displayed correctly because of the `width` and `height` set in the `style` attribute (home.html):

[code]

* The `style` attribute is absent on mobile user agents due to which the SVG file is displayed in its full size (probably a `width: 100%` rule somewhere):

[c

[2017-07-03 20:32] PeterDaveHello commented on #189
Looks like it's only on cdnjs.com, not locally, I'll dig our configs on Cloudfalre.

[2017-07-03 20:36] PeterDaveHello commented on #189
I think I found the bug:

![image](https://user-images.githubusercontent.com/3691490/27807251-3cded314-6072-11e7-9d8a-d1aba92e78f8.png)

Mirage is now disabled on Cloudflare panel, thanks guys, @Haroenv @dakshshah96 😄

[2017-07-03 20:36] #189 closed

[2017-07-03 20:37] Haroenv commented on #189
🤔 interesting

[2017-07-03 20:37] PeterDaveHello commented on #189
@Haroenv totally

[2017-07-03 20:41] PeterDaveHello commented on #189
We are good now!

![default](https://user-images.githubusercontent.com/3691490/27807390-09bdcb88-6073-11e7-932f-595c317c039a.png)

[2017-07-04 11:31] dakshshah96 commented on #189
@PeterDaveHello Awesome.. beta after all 😄

[2017-07-26 10:17] PeterDaveHello opened #190 "SRI data in API"
Current API doesn't provide SRI related data, should add.

[2017-09-07 15:53] Haroenv opened #193 "Display the "deprecated" flag in the search results"
the npm search index has `deprecated: 'the deprecation message'` if a package is deprecated. This is quite important information, and should be displayed IMO. If the package isn't deprecated it's `deprecated: false`

[2017-09-07 15:57] Haroenv opened #194 "highlight the name in search"
It's easier to know why a certain package is chosen if it's highlighted (`_highlightResult`) with colour, bold, italic or underline

[2017-09-08 08:19] Haroenv commented on #194
sorry, this is for the wrong repository

[2017-09-08 08:19] #194 closed

[2017-09-08 08:20] Haroenv commented on #193
sorry, this is for the wrong repository

[2017-09-08 08:20] #193 closed

[2017-09-13 05:47] sufuf3 opened #195 "Point out minimum stars in template"
As cdnjs/cdnjs#7849 discuss, It's good to mention the minimum popularity in the issue template.

Such as modify from A to B.
- A

[code]

- B

[code]

Thanks.

[2017-09-14 12:01] devarshad commented on #176
Please review: Adding search and count of result #196

[2017-09-19 11:30] #133 closed

[2017-09-27 00:43] drewfreyling commented on #157
We'd also have to make sure that conditional `GET` requests work with the right 200 or 304 as well. I'm happy to take a look @PeterDaveHello ?

[2017-09-27 00:55] PeterDaveHello commented on #157
@drewfreyling Please, thanks!

[2017-10-13 03:57] drewfreyling commented on #157
@PeterDaveHello going to use the last modified date of the template for this. Seem reasonable?

[2017-10-13 16:16] agathver commented on #190
I'm currently looking into adding this feature over this weekend.

Do you have a suggestion for where should the SRI values be present?

I was thinking about:

[code]

[2017-10-13 16:26] agathver commented on #190
Perhaps it will be easier if we do this:
[code]

[2017-10-15 06:38] PeterDaveHello commented on #157
hmmm, maybe not, I think many parts depend on the `packages.min.json`?

[2017-10-15 09:49] drewfreyling commented on #157
So what means the page has changed? A complex check of the template, 'packages.min.json' and other things? This could get hard. Front and about pages should just be template though?

[2017-10-15 09:55] PeterDaveHello commented on #157
@drewfreyling Yes this is hard, the content means if it's changed or not, the template is one reason, the packages.min.json is also one.
The about page, 404, could depends on template I agree, not sure if you mean the homepage "front"?

[2017-10-29 13:05] qas612820704 commented on #54
@PeterDaveHello Hi!

Can you talk about this more concretely?

What file should be remain in `material-design-icons` example?

[2017-10-29 16:47] PeterDaveHello commented on #54
Hi @qas612820704, in the case of `material-design-icons`, there are 82290 files, most of them are `png`, `svg`, etc, the resources that most users won't directly use(map file would also be not), I prefer to display the file mentioned by the `filename` property in `package.json`, the others, also display `*.min.js` & `*.min.css` as default.

[2017-11-01 03:16] qas612820704 commented on #166
imbhargav5 Hi, I have interest about this, are you in progress?

[2017-11-01 04:52] imbhargav5 commented on #166
Not really. Feel free to ask the contributors and take it up if that sounds
reasonable to all.

On Wed, 1 Nov 2017 at 08:46 Lego_Chiang <notifications@github.com> wrote:

--
Thanks,
Bhargav Ponnapalli
Expert mentor at Codementor.io
https://www.codementor.io/bhargavponnapalli

[2017-12-02 16:34] #176 closed

[2017-12-05 09:54] sufuf3 opened #202 "Add Sitelinks Searchbox"
Google Search can expose a search box scoped to your website when it appears as a search result.
And I think this would be a good function of this website.

Maybe we can add the followings code into `templates/layout.html`
[code]
(Using the tool: https://search.google.com/structured-data/testing-tool)

What do you think?

Thanks.

Ref: https://developers.google.com/search/docs/data-types/sitelinks

[2017-12-05 11:26] PeterDaveHello commented on #202
@sufuf3 awesome 👍

[2017-12-06 18:45] #202 closed

[2017-12-13 23:08] ShavidzeT commented on #125
Is already solved this issue?  😄
It's been a long time since opening an issue 🌴 🎄

[2017-12-14 09:52] PaoloFalomo commented on #125
@ShavidzeT lol nope i guess

[2017-12-14 21:37] ShavidzeT commented on #125
It needs visual and functional regression testing...

[2017-12-30 18:11] laetitiaZammit commented on #166
Hi there, I'm really interested by helping on this issue. Let me know if you are interested :)

[2018-01-25 13:15] hhmmrrhh commented on #18
Menu not working

[2018-03-09 03:43] dependabot[bot] opened #208 "Dependabot couldn't fetch the branch/reference for public/gitstats/tutorials"
Your dependency file specified a branch or reference for public/gitstats/tutorials, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] #208 closed

[2018-03-09 03:43] dependabot[bot] opened #209 "Dependabot couldn't fetch the branch/reference for public/git_stats/cdnjs-importer"
Your dependency file specified a branch or reference for public/git_stats/cdnjs-importer, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #210 "Dependabot couldn't fetch the branch/reference for public/git_stats/new-website"
Your dependency file specified a branch or reference for public/git_stats/new-website, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #211 "Dependabot couldn't fetch the branch/reference for public/gitstats/atom-extension"
Your dependency file specified a branch or reference for public/gitstats/atom-extension, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #212 "Dependabot couldn't fetch the branch/reference for public/gitstats/cdnjs"
Your dependency file specified a branch or reference for public/gitstats/cdnjs, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] #209 closed

[2018-03-09 03:43] #210 closed

[2018-03-09 03:43] #211 closed

[2018-03-09 03:43] #212 closed

[2018-03-09 03:43] dependabot[bot] opened #213 "Dependabot couldn't fetch the branch/reference for public/git_stats/autoupdate"
Your dependency file specified a branch or reference for public/git_stats/autoupdate, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #214 "Dependabot couldn't fetch the branch/reference for public/gitstats/autoupdate"
Your dependency file specified a branch or reference for public/gitstats/autoupdate, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #215 "Dependabot couldn't fetch the branch/reference for public/git_stats/buildScript"
Your dependency file specified a branch or reference for public/git_stats/buildScript, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] #213 closed

[2018-03-09 03:43] #214 closed

[2018-03-09 03:43] #215 closed

[2018-03-09 03:43] dependabot[bot] opened #216 "Dependabot couldn't fetch the branch/reference for public/git_stats/atom-extension"
Your dependency file specified a branch or reference for public/git_stats/atom-extension, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #217 "Dependabot couldn't fetch the branch/reference for public/gitstats/buildScript"
Your dependency file specified a branch or reference for public/gitstats/buildScript, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #218 "Dependabot couldn't fetch the branch/reference for public/git_stats/tutorials"
Your dependency file specified a branch or reference for public/git_stats/tutorials, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #220 "Dependabot couldn't fetch the branch/reference for public/git_stats/cdnjs"
Your dependency file specified a branch or reference for public/git_stats/cdnjs, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] dependabot[bot] opened #221 "Dependabot couldn't fetch the branch/reference for public/gitstats/new-website"
Your dependency file specified a branch or reference for public/gitstats/new-website, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:43] #217 closed

[2018-03-09 03:43] #218 closed

[2018-03-09 03:43] #220 closed

[2018-03-09 03:43] #221 closed

[2018-03-09 03:43] dependabot[bot] opened #222 "Dependabot couldn't fetch the branch/reference for public/gitstats/cdnjs-importer"
Your dependency file specified a branch or reference for public/gitstats/cdnjs-importer, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 03:54] PeterDaveHello commented on #222
@dependabot what's the detail? I see no unusuall things.

[2018-03-09 03:54] #222 closed

[2018-03-09 08:19] dependabot[bot] opened #223 "Dependabot couldn't fetch the branch/reference for public/git_stats/atom-extension"
Your dependency file specified a branch or reference for public/git_stats/atom-extension, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] #223 closed

[2018-03-09 08:19] dependabot[bot] opened #224 "Dependabot couldn't fetch the branch/reference for public/git_stats/new-website"
Your dependency file specified a branch or reference for public/git_stats/new-website, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #225 "Dependabot couldn't fetch the branch/reference for public/git_stats/cdnjs-importer"
Your dependency file specified a branch or reference for public/git_stats/cdnjs-importer, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #226 "Dependabot couldn't fetch the branch/reference for public/gitstats/new-website"
Your dependency file specified a branch or reference for public/gitstats/new-website, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #227 "Dependabot couldn't fetch the branch/reference for public/gitstats/autoupdate"
Your dependency file specified a branch or reference for public/gitstats/autoupdate, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #228 "Dependabot couldn't fetch the branch/reference for public/gitstats/atom-extension"
Your dependency file specified a branch or reference for public/gitstats/atom-extension, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] #224 closed

[2018-03-09 08:19] #225 closed

[2018-03-09 08:19] #226 closed

[2018-03-09 08:19] #227 closed

[2018-03-09 08:19] dependabot[bot] opened #229 "Dependabot couldn't fetch the branch/reference for public/git_stats/buildScript"
Your dependency file specified a branch or reference for public/git_stats/buildScript, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #230 "Dependabot couldn't fetch the branch/reference for public/git_stats/autoupdate"
Your dependency file specified a branch or reference for public/git_stats/autoupdate, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #231 "Dependabot couldn't fetch the branch/reference for public/gitstats/tutorials"
Your dependency file specified a branch or reference for public/gitstats/tutorials, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] #228 closed

[2018-03-09 08:19] #229 closed

[2018-03-09 08:19] #230 closed

[2018-03-09 08:19] #231 closed

[2018-03-09 08:19] dependabot[bot] opened #232 "Dependabot couldn't fetch the branch/reference for public/gitstats/buildScript"
Your dependency file specified a branch or reference for public/gitstats/buildScript, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #233 "Dependabot couldn't fetch the branch/reference for public/gitstats/cdnjs"
Your dependency file specified a branch or reference for public/gitstats/cdnjs, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #234 "Dependabot couldn't fetch the branch/reference for public/git_stats/tutorials"
Your dependency file specified a branch or reference for public/git_stats/tutorials, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #235 "Dependabot couldn't fetch the branch/reference for public/git_stats/cdnjs"
Your dependency file specified a branch or reference for public/git_stats/cdnjs, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] dependabot[bot] opened #236 "Dependabot couldn't fetch the branch/reference for public/gitstats/cdnjs-importer"
Your dependency file specified a branch or reference for public/gitstats/cdnjs-importer, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-03-09 08:19] #233 closed

[2018-03-09 08:19] #234 closed

[2018-03-09 08:19] #235 closed

[2018-03-09 08:20] greysteil commented on #236
Eek, this definitely looks like a bug on our side. Looking into it now.

[2018-03-09 08:52] #236 closed

[2018-03-09 08:54] greysteil commented on #236
FYI, this bug was caused by the target repos not using `master` as their default branch. [This commit](https://github.com/dependabot/dependabot-core/commit/340cc59530b3c8a4d9135cdef7e98f418476d39e) to Dependabot fixes that.

Thanks masses for the bug report.

[2018-03-09 09:11] PeterDaveHello commented on #236
@greysteil cool, thanks!

[2018-03-17 20:07] samdenty opened #334 "Broken links on homepage"
All of the links under the gource dropdown are dead.

![image](https://user-images.githubusercontent.com/13242392/37559464-bdb274ca-2a1e-11e8-89e7-4f35d7650462.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/56349522-broken-links-on-homepage?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)**

[2018-05-03 02:30] sufuf3 commented on #195
Yes, it was fixed.
Thank you guys.

[2018-05-03 02:30] #195 closed

[2018-05-15 10:37] plaa commented on #7
Any updates on this? For corporate users this would be very important.

[2018-06-17 13:21] dakshshah96 opened #241 "Invalid link to GitHub issues on 404 page"
The link to the GitHub issues page on the 404 error page currently points to `https://github.com/cdnjs/new-website/issues[website%20404%20not%20found]` which is an invalid page.

[2018-06-17 15:45] PeterDaveHello commented on #241
@dakshshah96 thanks.

[2018-06-17 15:46] #241 closed

[2018-08-17 08:55] sonatype-depshield[bot] opened #249 "DepShield encountered errors while building your project"
The project could not be analyzed because of maven build errors. Please review the [error messages here](https://depshield.sonatype.org/error/cdnjs/new-website/TUN5Zy3uG38KKMSt_pP03Q). Another build will be scheduled within 24 hours. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/cdnjs/new-website/TUN5Zy3uG38KKMSt_pP03Q) wil

[2018-11-15 19:07] jmgaya opened #255 "throng dependency in package.json"
Following the *README.md* instructions in order to setup the _dev environment_, I've found you're using a dependency that could result in a *vulnerability* as *NPM* says:

[code]

I'm already trying to update the mentioned dependency (will PR when available) in order to fix this :wink:

**Edit:** Here's the [PR](https://github.com/cdnjs/new-website/pull/256)

[2018-11-15 19:27] jmgaya opened #257 "Missing package-lock.json file"
While following the *README.md*, a _package-lock.json_ file is created, if the user installs the dependencies through _npm_. Shall we add this file to repository?

[2018-12-11 10:20] MattIPv4 opened #258 "GitHub corner banner"
Hiya,

Is there a reason behind the bizarre media width requirement for the GitHub banner to be rotated and positioned correctly? (https://github.com/cdnjs/new-website/blob/master/public/css/main.css#L33-L56)

I'm guessing the aim is for it to be not rotated on mobile, but 1333px is just a tiny bit beyond what a normal mobile media query would be?

[2018-12-14 12:11] MattIPv4 commented on #56
With regards to size, users are asking that size is show for each file and the library in general and that it would be sortable on the website.

It might be best on the main website page (not library specific) to show both the full library size and the default file size, allow sorting by both?

Original suggestion: https://twitter.com/bramjoosten/status/1044872812786307072

[2018-12-14 13:33] MattIPv4 opened #260 "Updated font awesome"
So I'm wanting to add some social icons to the footer but currently the site makes use of FA 4.7 which does not contain all the icons I am seeking to use.

Currently cdnjs doesn't serve a newer version (5.x) so the only options for me in this regard are to use FA direct from FA, or to wait for (or chase) the cdnjs update of the lib.

@PeterDaveHello Any thoughts regarding this?

[2018-12-19 16:47] MattIPv4 commented on #258
@ryankirkman GitHub blame blames you for the relevant code, any thoughts?

[2018-12-31 23:31] MattIPv4 commented on #7
@ryankirkman @thomasdavis Anything regarding this, would it just be best to link to the Cf ones per what pete suggested in https://github.com/cdnjs/cdnjs/issues/3439 ?

[2018-12-31 23:50] MattIPv4 commented on #152
To get this working it looks like algolia search needs to return the SRI value for the default file for each lib in the hits data. I'm not quite sure where algolia is fetching the data from so I am very unsure as to how to implement this on the backend to get it working.

@PeterDaveHello any help or guidance as to where Algolia gets the data from would be great :)

[2019-01-01 00:06] MattIPv4 commented on #18
#262 partially resolves this but the homepage still isn't perfect with the top margin, will fix soon hopefully :)

[2019-01-01 10:35] MattIPv4 commented on #257
@PeterDaveHello Do you know of a reason why this isn't yet committed?

[2019-01-01 12:38] PeterDaveHello commented on #257
I don't think we really need to add it. Maybe we'll just ignore it in the `.gitignore` Thanks.

[2019-01-03 11:15] MattIPv4 commented on #257
@PeterDaveHello Whilst on the topic of gitignore, is there a reason the SRI folder is included in git? It drives me insane having to unselect it at every commit?

[2019-01-03 11:17] MattIPv4 commented on #258
Nvm, it appears to be because it clips into the nav bar, will be resolved in #262 and the follow up PR.

[2019-01-03 11:17] #258 closed

[2019-01-03 11:33] PeterDaveHello commented on #257
@MattIPv4 you can use sparseCheckout to ignore it.

[2019-01-08 14:02] ZtianWisc opened #264 "throw new Error('Start function required') at throng.js line 22"
Question: trying to run webServer.js. I am running node v10.13.0 and OSX. Thanks for your help!

[2019-01-10 10:36] MattIPv4 commented on #264
Hi there, this is due to the fact that the code is currently written to work with an older version of throng. #256 fixes this by updating the minimum version of throng and re-ordering the start arguments.

[2019-01-10 12:11] MattIPv4 commented on #175
@qas612820704 I really like this as an idea, webServer.js is currently rather messy and this would really help with refactoring it all and splitting it up into more manageable sections. If you wish to do this, I say go for it!

[2019-01-11 12:16] ZtianWisc commented on #264
I checked my package.json, it does use
`"throng": "^4.0.0"`
but still get same error
`node_modules/throng/lib/throng.js:22
throw new Error('Start function required');
`

[2019-01-11 12:41] ZtianWisc commented on #264
@MattIPv4 got it thanks!

[2019-01-12 07:14] tazotodua opened #269 "Please, make a "search" input in top of CNDjs Website (on any page)"
It's frustrating, that when we enter on any specific page on site, we have at first to go to homepage, to make a search. In any decent site, there should be searchbar available on any page, not only on homepage.
please add that.
thanks

[2019-01-12 07:30] #255 closed

[2019-01-12 07:30] #264 closed

[2019-01-12 07:31] #249 closed

[2019-01-12 07:32] sonatype-depshield[bot] opened #270 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.defaults:4.2.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.defaults:4.2.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.defaults@4.2.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash.defaults:

[2019-02-01 07:49] bimohxh opened #271 "[API] need more control?"
some times it's waste time to load all data,maybe I just want to get 10 data, but you give me 1000 data.so I think pagination is needed to optimize the API request

[2019-02-01 07:49] PeterDaveHello commented on #271
Here we go, sorry for the late reply.

[2019-02-02 10:10] MattIPv4 opened #272 "License"
@PeterDaveHello I know the package.json contains the license for this project, but is there a reason we don't publish an actual LICENSE file to this repository?

GitHub doesn't pick up on the package.json license and instead thinks that license-list.json is the license file for the repo?

[2019-02-02 10:39] #272 closed

[2019-02-10 13:22] sonatype-depshield[bot] opened #274 "[DepShield] (CVSS 7.5) Vulnerability due to usage of marked:0.3.19"
**Vulnerabilities**

DepShield reports that this application's usage of [marked:0.3.19](https://ossindex.sonatype.org/component/pkg:npm/marked@0.3.19) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-185: Incorrect Regular Expression](https://ossindex.sonatype.org/vuln/9717abb0-e5ac-4349-89bd-e7362df06c3b)

<sub>This is an automated GitHub Issue created by Sonatype DepShield. Deta

[2019-02-16 09:15] PeterDaveHello opened #275 "Upgrade to the Latest Stack"
Warning from Heroku after each deployment
[code]

[2019-03-07 12:03] Stryxus opened #277 "Make library names and descriptions a single button"
I find it a bit tedious when i need to click on the libraries name specifically, especially on libraries with short names.

Why not make the name and description a button for easier selection?

[2019-05-05 14:45] #152 closed

[2019-05-08 17:01] MattIPv4 commented on #257
@PeterDaveHello I plan to create a PR to resolve this soon. I will add `package-lock.json` to the `.gitignore` file. Should I also add `SRI/` to it as this is an automatically generated folder, or do you want it tracked still?

[2019-05-08 17:07] PeterDaveHello commented on #257
@MattIPv4 any reason to exclude SRI/? BTW, they should be separated issue.

[2019-05-08 17:09] MattIPv4 commented on #257
@PeterDaveHello I don't see why it needs to be tracked, isn't it automatically generated when the site is deployed?

[2019-05-08 17:10] PeterDaveHello commented on #257
@MattIPv4 it's automatically generated when the site is built, but why not?

[2019-05-08 17:13] MattIPv4 commented on #257
@PeterDaveHello It's just another thing to have to consider when setting up sparseCheckout, or when making a commit.

For someone new who wants to contribute, they may think they need to commit the updated contents of `SRI`, which then slows down the PR process as it has to be cleaned up?

[2019-05-08 17:20] PeterDaveHello commented on #257
@MattIPv4 I prefer to publish the SRI data to be tracable publicly so anyone has suspicion or wants to prove the integrity and easily audit them.

I'll be happy to help anyone facing issue with contribution if the situation happend, so far I didn't see related issues yet 🙂

[2019-05-08 17:29] MattIPv4 commented on #257
@PeterDaveHello Ah, that makes sense. Thank you :)
I'll make the PR to remove package-lock shortly.

[2019-05-08 18:20] PeterDaveHello commented on #257
@MattIPv4 Thank you.

[2019-05-13 12:03] MattIPv4 opened #279 "Make SRI default"
Following the [recent article from Troy Hunt](https://www.troyhunt.com/the-javascript-supply-chain-paradox-sri-csp-and-trust-in-third-party-libraries/) and the [feedback of users](https://twitter.com/PatrickSocha/status/1127885966092447744) [on Twitter](https://twitter.com/forensicmike1/status/1127905681317646336), I think it would be best for us to ensure that SRI options are the default.

I feel

[2019-05-13 12:07] PeterDaveHello commented on #279
@MattIPv4 before that, I prefer to increase the sha level, and on the other side, the modal would be to aggressive to me.

[2019-05-13 12:09] MattIPv4 commented on #279
@PeterDaveHello I'll leave the change in sha level to you :)

With the modal, I think it could be something that could use a cookie or similar so that it only needs to show once, simply educating users who may not be aware of the benefits to security of using SRO.

However, if we make the SRI copy default and "fade" the non-sri copy options, this may on its own encourage more users to use SRI.

[2019-06-06 06:46] dy opened #281 "Problems with search"
I was searching for `tape`, but got not a single correct result:
![image](https://user-images.githubusercontent.com/300067/59012377-542d9c00-8805-11e9-8600-8593f3114f4c.png)

[2019-06-09 20:09] MattIPv4 commented on #281
No further progress on question, this is intentional behaviour, closing.

[2019-06-09 20:09] #281 closed

[2019-06-14 04:26] drewfreyling opened #285 "Browser Support"
I think we need to define a list of supported browsers. This will provide clarity for new features and make sure we have a leaner page for things we don't need.

[2019-06-18 08:32] MattIPv4 opened #286 "SRI SHA 384/512"
Following a [user suggestion on the community forum](https://cdnjs.discourse.group/t/sri-sha-384-512-support/79), I believe that we should implement SHA-384 and SHA-512 alongside the existing SHA-256 in the SRI values that we provide to users and use.

[code]

[2019-06-19 06:13] drewfreyling commented on #279
https://github.com/cdnjs/cdnjs/issues/13384 tracks the changing of the SHA level

[2019-06-21 06:51] hutuzhu opened #287 "dd"
调度调度

[2019-06-21 08:16] MattIPv4 commented on #287
Hi there,

Please could you explain further what the issue is that you are experiencing?

[2019-06-23 09:22] PeterDaveHello commented on #287
invalid issue

[2019-06-23 09:22] #287 closed

[2019-06-23 09:28] #279 closed

[2019-06-29 07:16] PeterDaveHello commented on #275
[code]

[2019-07-12 19:12] dependabot-preview[bot] opened #290 "Dependabot needs permission to see autoupdate-gitstats"
Dependabot couldn't resolve your project's dependencies as it couldn't access [autoupdate-gitstats](https://github.com/cdnjs/autoupdate-gitstats).

You can grant Dependabot access to autoupdate-gitstats by adding the repository [here](https://github.com/organizations/cdnjs/settings/installations/103210). We'll automatically close this issue and kick off another update run once permission is grante

[2019-07-12 19:14] MattIPv4 commented on #290
@PeterDaveHello @ryankirkman @thomasdavis

[2019-07-13 15:32] #290 closed

[2019-07-13 15:39] #274 closed

[2019-07-13 15:41] sonatype-depshield[bot] opened #291 "[DepShield] (CVSS 7.5) Vulnerability due to usage of debug:2.6.9"
**Vulnerabilities**

DepShield reports that this application's usage of [debug:2.6.9](https://ossindex.sonatype.org/component/pkg:npm/debug@2.6.9) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-400: Uncontrolled Resource Consumption ('Resource Exhaustion')](https://ossindex.sonatype.org/vuln/b45ca07c-673b-459f-97b5-9bf23f1f3db5)

<hr />

**Occurrences**

debug:2.6.9 is a transit

[2019-07-13 15:41] sonatype-depshield[bot] opened #292 "[DepShield] (CVSS 7.5) Vulnerability due to usage of express:4.17.1"
**Vulnerabilities**

DepShield reports that this application's usage of [express:4.17.1](https://ossindex.sonatype.org/component/pkg:npm/express@4.17.1) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-22: Improper Limitation of a Pathname to a Restricted Directory ('Path Traversal')](https://ossindex.sonatype.org/vuln/e1f470a8-5800-4828-bad8-a6f001221b16)

<sub>This is an automat

[2019-07-15 16:03] #260 closed

[2019-07-15 16:42] MattIPv4 commented on #292
cc @PeterDaveHello

[2019-07-15 16:42] MattIPv4 commented on #291
cc @PeterDaveHello

[2019-07-15 16:42] MattIPv4 commented on #270
cc @PeterDaveHello

[2019-07-15 16:51] PeterDaveHello commented on #292
@MattIPv4 I already saw them, we can do nothing with it.

[2019-07-15 16:51] PeterDaveHello commented on #270
@MattIPv4 I already saw them, we can do nothing with it.

[2019-07-15 16:51] PeterDaveHello commented on #291
@MattIPv4 I already saw them, we can do nothing with it.

[2019-07-15 16:53] MattIPv4 commented on #291
@PeterDaveHello Should these be closed then?

[2019-07-15 16:59] PeterDaveHello commented on #291
@MattIPv4 need to wait until upstream patched it.

[2019-07-16 04:30] EmexProf opened #294 "[website 404 not found]"
http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css

The above page (content) was referenced in my webpage as containing mixed content (without https).

Kindly assist to me to locate it in my site folder so as to resolve the mixed content issues raised.

Thanks.
![Ajax mixed content](https://emeximages.githubusercontent.com/38656208/61265926-7ca4a080-a78a-11e9-9fb4-3c

[2019-07-16 07:37] MattIPv4 commented on #294
@EmexProf The resource is loading fine over https - Do you have a live example of the issue you are having?

[2019-07-19 07:45] FONZACUS opened #295 "heavy lagg opening a library with many assets"
first off, huge kudos to you (and the backers) guys.

straight to the point, when opening a library with a ton of assets like [google md icons](//cdnjs.com/libraries/material-design-icons), theres a lot of lag/stuttering, and possibly crashing on lower end systems. to play things safe, there should be separators for similar libs.

ive no idea what to suggest, are folders/categories possible?

<bou

[2019-07-21 16:04] MattIPv4 commented on #294
No progress, closing.

[2019-07-21 16:04] #294 closed

[2019-07-21 16:12] #92 closed

[2019-09-08 15:25] #174 closed

[2019-09-10 15:52] MattIPv4 opened #297 "ESLint is only applying to js files at root"
We should be linting public/js/* as well as all the backend js files at the root of the repository.
Nothing more, nothing less.

[2019-09-10 20:41] MattIPv4 opened #299 "public/css/*.css needs to be linted"
We are adding linting for all main files relating to the website. We have already implemented eslint for the backend scripts and linting for the HTML templates and front-end JS are in the works.

We should also be linting the main css files that are used for the site to ensure they also keep a good code style standard going forward.

[2019-09-11 06:29] drewfreyling commented on #299
What are you thinking? Stylelint?

[2019-09-11 08:05] MattIPv4 commented on #299
Hey @drewfreyling, yup, I think I plan to go for stylelint over csslint.
Do you have any preference on what base rules we use, or should I just build up a config based around what we have already?

[2019-09-12 02:05] drewfreyling commented on #299
@MattIPv4 I normally just use `stylelint-config-standard` rules

[2019-10-01 21:02] mpark86 commented on #277
Hi, can I try working on this?

[2019-10-01 21:04] MattIPv4 commented on #277
@mpark86 Absolutely, go for it!
I believe the relevant code will be https://github.com/cdnjs/new-website/blob/master/public/js/main.js#L237-L277

[2019-10-03 07:15] mpark86 commented on #277
Thank you! I'll take a look

[2019-10-26 13:14] aliglelo opened #305 "Dark Mode?"
Please add a dark mode to website so it is not heavy on our eyes during work at night hours

[2019-10-26 13:20] MattIPv4 commented on #305
The new website design will have this: https://github.com/cdnjs/brand/tree/master/website

[2019-10-26 14:09] aliglelo commented on #305
Thanks for your response
best of luck
By the Way when new design is coming?

[2019-10-26 14:26] MattIPv4 commented on #305
Not really sure when it will happen - I want to get it built but need to get everything in the pre-redesign milestone (https://github.com/cdnjs/new-website/milestone/1) completed first, but I lack merge access (see https://github.com/cdnjs/cdnjs/issues/13524)

[2019-10-27 06:18] aliglelo commented on #305
Well best of luck...

[2019-10-28 03:23] #305 closed

[2019-11-17 15:46] #277 closed

[2019-11-19 10:06] sonatype-depshield[bot] opened #308 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.camelcase:4.3.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.camelcase:4.3.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.camelcase@4.3.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash

[2019-11-19 10:06] sonatype-depshield[bot] opened #309 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.get:4.4.2"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.get:4.4.2](https://ossindex.sonatype.org/component/pkg:npm/lodash.get@4.4.2) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash node module

[2019-11-19 10:06] sonatype-depshield[bot] opened #310 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.snakecase:4.1.1"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.snakecase:4.1.1](https://ossindex.sonatype.org/component/pkg:npm/lodash.snakecase@4.1.1) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash.snakeca

[2019-11-22 20:42] drewfreyling commented on #157
#199 closes this

[2019-11-22 20:42] #157 closed

[2019-11-22 21:04] #299 closed

[2020-01-29 17:13] #270 closed

[2020-01-29 17:13] #291 closed

[2020-01-29 17:13] #292 closed

[2020-01-29 17:13] #308 closed

[2020-01-29 17:13] #309 closed

[2020-01-29 17:13] #310 closed

[2020-01-29 17:28] #297 closed

[2020-01-29 18:00] #18 closed

[2020-01-29 20:55] #143 closed

[2020-01-29 21:09] #319 closed

[2020-01-29 21:30] #190 closed

[2020-01-29 22:14] #54 closed

[2020-01-30 13:57] #158 closed

[2020-01-30 14:39] xtuc opened #320 "Disable SRI for .map files"
The website seems to display the ability to copy an SRI for .map files, however we don't generate the hash for .map files

[2020-01-30 14:41] xtuc opened #321 "Hide file types that are not distributed by the cdn"
We filter out files given a list of extension that can be distrubted by the cdn.

Example that don't work https://cdnjs.cloudflare.com/ajax/libs/antd/4.0.0-rc.1/antd.dark.less https://cdnjs.cloudflare.com/ajax/libs/antd/4.0.0-rc.1/report.html,  that can you find on https://cdnjs.com/libraries/antd/4.0.0-rc.1.

[2020-01-30 14:43] MattIPv4 commented on #321
@xtuc Can you find the full list of extensions the cdn permits? I've never actually seen the full list.

[2020-01-30 14:52] xtuc commented on #321
The list is `js, css, png, gif, jpg, jpeg, swf, svg, ttf, eot, woff, woff2, otf, map, cur, mp3, ogg, aac, scss, webp, json` with `wasm, hpb` being extension that we will add.

[2020-02-01 19:07] #63 closed

[2020-02-01 19:08] MattIPv4 opened #323 "Move website to use API data"
We should look at moving the webServer part of this repostiory to using the cdnjs API when fetching library data. This can all be done client-side and means that the site could run without the need for the entire cdnjs package collection being in memory.

[2020-02-03 11:39] MattIPv4 opened #324 "Static site generation?"
For the webServer component of this repo, there is nothing within in that is truly dynamic. Searching is already handled completely client-side with Algolia and all package/tutorial pages are simply rendered when requested from a static template and in-memory data.

This could be moved so that all library pages, tutorial pages etc. are generated as static files with a build script, which would dra

[2020-02-03 11:40] MattIPv4 commented on #323
#324 may be a better solution to this issue.

[2020-02-03 11:55] xtuc commented on #104
packages.min.json is now stored in Google storage

[2020-02-03 11:55] #104 closed

[2020-02-03 11:55] #175 closed

[2020-02-03 11:55] #257 closed

[2020-02-03 11:55] #321 closed

[2020-02-03 11:56] MattIPv4 commented on #7
After checking in with folks at Cf, we're simply going to link to the Cf docs for now.

[2020-02-03 11:56] sonatype-depshield[bot] opened #325 "[DepShield] (CVSS 9.8) Vulnerability due to usage of lodash:4.17.11"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash:4.17.11](https://ossindex.sonatype.org/component/pkg:npm/lodash@4.17.11) results in the following vulnerability(s):

- (CVSS **9.8**) [[CVE-2019-10744] Versions of lodash lower than 4.17.12 are vulnerable to Prototype Pollution. The...](https://ossindex.sonatype.org/vuln/3fb48383-2e9e-4db1-bac5-f33cb54498ff)
- (CVSS **

[2020-02-03 11:56] sonatype-depshield[bot] opened #326 "[DepShield] (CVSS 7.5) Vulnerability due to usage of mem:1.1.0"
**Vulnerabilities**

DepShield reports that this application's usage of [mem:1.1.0](https://ossindex.sonatype.org/component/pkg:npm/mem@1.1.0) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-400: Uncontrolled Resource Consumption ('Resource Exhaustion')](https://ossindex.sonatype.org/vuln/e8694dac-226d-4f73-b5f0-e2fd741f6bfd)

<hr />

**Occurrences**

mem:1.1.0 is a transitive de

[2020-02-03 11:56] sonatype-depshield[bot] opened #327 "[DepShield] (CVSS 7.4) Vulnerability due to usage of https-proxy-agent:2.2.1"
**Vulnerabilities**

DepShield reports that this application's usage of [https-proxy-agent:2.2.1](https://ossindex.sonatype.org/component/pkg:npm/https-proxy-agent@2.2.1) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-300: Channel Accessible by Non-Endpoint ('Man-in-the-Middle')](https://ossindex.sonatype.org/vuln/dbfff477-7b5c-4639-8370-7d00d6402849)

<hr />

**Occurrences**

h

[2020-02-03 11:56] sonatype-depshield[bot] opened #328 "[DepShield] (CVSS 7.5) Vulnerability due to usage of express:4.16.4"
**Vulnerabilities**

DepShield reports that this application's usage of [express:4.16.4](https://ossindex.sonatype.org/component/pkg:npm/express@4.16.4) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-22: Improper Limitation of a Pathname to a Restricted Directory ('Path Traversal')](https://ossindex.sonatype.org/vuln/e1f470a8-5800-4828-bad8-a6f001221b16)

<sub>This is an automat

[2020-02-03 12:09] xtuc opened #329 "error message"
[code]

[2020-02-03 12:16] #329 closed

[2020-02-03 12:18] #325 closed

[2020-02-03 12:18] #326 closed

[2020-02-03 12:18] #327 closed

[2020-02-03 12:18] #328 closed

[2020-02-20 09:04] MattIPv4 commented on #334
These links have all since been removed from the site.

[2020-02-20 09:04] #334 closed

[2020-02-23 13:36] #46 closed

[2020-02-23 13:36] #107 closed

[2020-02-23 13:38] #71 closed

[2020-02-23 13:38] #145 closed

[2020-02-23 13:38] #138 closed

[2020-02-23 13:40] MattIPv4 commented on #58
Going to keep this open as we still need to implement this.

[2020-02-23 13:41] MattIPv4 commented on #179
Going to keep this open as this is something we should still consider down the road once we've rewritten the auto-update system.

[2020-02-23 13:42] MattIPv4 commented on #56
Keeping this open as we still want to look at showing more stats for libraries and the service generally.

[2020-02-23 13:46] MattIPv4 commented on #148
I believe this is still an issue that should be looked at, so going to keep this open.

[2020-02-23 13:59] MattIPv4 commented on #125
Nothing has been changed with the inner workings of the copy button to my knowledge, so this should be kept open for now as it may still need adressing.

I'll likely replace the copy button logic as part of the site redesign.

[2020-02-23 14:03] PeterDaveHello commented on #58
Feel free to open a new issue for it, as I was removed from the organization without any discussion and respect, just like some other members(I know it's not by you and you're not the one who's in charge for that), I'm now closing ancient issues I'm not working on so that I don't need to receive unnecessary notifications, thanks.

[2020-02-23 14:04] PeterDaveHello commented on #125
Feel free to open a new issue for it, as I was removed from the organization without any discussion and respect, just like some other members(I know it's not by you and you're not the one who's in charge for that), I'm now closing ancient issues I'm not working on so that I don't need to receive unnecessary notifications, thanks.

[2020-02-23 14:05] PeterDaveHello commented on #148
Feel free to open a new issue for it, as I was removed from the organization without any discussion and respect, just like some other members(I know it's not by you and you're not the one who's in charge for that), I'm now closing ancient issues I'm not working on so that I don't need to receive unnecessary notifications, thanks.

[2020-02-23 14:05] PeterDaveHello commented on #56
Feel free to open a new issue for it, as I was removed from the organization without any discussion and respect, just like some other members(I know it's not by you and you're not the one who's in charge for that), I'm now closing ancient issues I'm not working on so that I don't need to receive unnecessary notifications, thanks.

[2020-02-23 14:05] MattIPv4 commented on #58
There is an unsubscribe button that you can use on issues to no longer receive notifications. I would appreciate it if you left these open so we have the original history of the issue in the active issue.

[2020-02-23 14:05] PeterDaveHello commented on #179
Feel free to open a new issue for it, as I was removed from the organization without any discussion and respect, just like some other members(I know it's not by you and you're not the one who's in charge for that), I'm now closing ancient issues I'm not working on so that I don't need to receive unnecessary notifications, thanks.

[2020-02-23 14:08] PeterDaveHello commented on #58
You can refer to this issue for the history, anyway I'll left this opened.

[2020-02-23 14:56] MattIPv4 commented on #125
As mentioned [here](https://github.com/cdnjs/new-website/issues/58#issuecomment-590072188) and [here](https://github.com/cdnjs/cdnjs/issues/11123#issuecomment-590073021), please use the unsubscribe button in this issue if you no longer wish to receive notifications for it. However, please leave this issue open as it is still needed.

[2020-02-23 14:56] MattIPv4 commented on #148
As mentioned [here](https://github.com/cdnjs/new-website/issues/58#issuecomment-590072188) and [here](https://github.com/cdnjs/cdnjs/issues/11123#issuecomment-590073021), please use the unsubscribe button in this issue if you no longer wish to receive notifications for it. However, please leave this issue open as it is still needed.

[2020-02-23 14:57] MattIPv4 commented on #56
As mentioned [here](https://github.com/cdnjs/new-website/issues/58#issuecomment-590072188) and [here](https://github.com/cdnjs/cdnjs/issues/11123#issuecomment-590073021), please use the unsubscribe button in this issue if you no longer wish to receive notifications for it. However, please leave this issue open as it is still needed.

[2020-02-23 14:57] MattIPv4 commented on #179
As mentioned [here](https://github.com/cdnjs/new-website/issues/58#issuecomment-590072188) and [here](https://github.com/cdnjs/cdnjs/issues/11123#issuecomment-590073021), please use the unsubscribe button in this issue if you no longer wish to receive notifications for it. However, please leave this issue open as it is still needed.

[2020-02-23 15:23] xtuc commented on #184
Still need to split/rewrite the `packages.min.json`

[2020-02-24 15:36] MattIPv4 opened #336 "Add new extensions to fileMap"
`.ts`, `.wasm` and `.hpb` have now been added to the Cf whitelist, so these should be added to fileMap.js so they can show on the site.

[2020-03-10 11:10] mainhanu opened #337 "file list not match for api and web"
for example

https://cdnjs.com/libraries/antd
https://api.cdnjs.com/libraries/antd

for version 4.0.2 and 4.0.1, API list has extra files like `antd.dark.less `, which is 403

![image](https://user-images.githubusercontent.com/48398913/76302973-e49c8e00-62fb-11ea-8b2c-017697576633.png)

how to get real file list from API?

[2020-03-10 11:11] MattIPv4 commented on #337
The issue causing this is that the website applies the file whitelist as a filter to which assets are shown, but the API is simply listing every file that we have in the cdnjs repo, not filtered by those that are available on the CDN once the whitelist is applied.

[2020-03-10 11:13] MattIPv4 commented on #337
I think the best solution here would be to do the following:

**Apply the file whitelist filter to the API `(libraries/:id).assets[].files`**, but then add a new attribute such as `(libraries/:id).assets[].rawFiles` that is not filtered for those that wish to see all files that exist for a version of a library on cdnjs.

[2020-03-10 11:33] mainhanu commented on #337
ok，thanks

[2020-04-06 13:20] xtuc opened #342 "add .lang to allowed extensions"

[2020-06-19 09:15] xtuc opened #345 "The search shows 404 file"
![Screenshot from 2020-06-19 10-14-26](https://user-images.githubusercontent.com/1493671/85116736-b0e3d500-b215-11ea-86dd-f45bec3ee827.png)

It shows https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.0-beta.15/vue.min.js but this file is 404 and doesn't exists the package files

[2020-06-19 09:15] xtuc opened #346 "Encourage the usage of SRIs"
We should encourage people to be secure, we often show the raw URLs and not the script tag with the SRI

[2020-06-19 09:16] xtuc commented on #7
https://github.com/cdnjs/cdnjs/issues/13272 has been closed, closing this

[2020-06-19 09:16] #7 closed

[2020-06-19 09:17] #275 closed

[2020-07-08 19:38] klausenbusk opened #349 "Application error (angular-material)"
![image](https://user-images.githubusercontent.com/1080056/86962197-c425f880-c162-11ea-96d2-428e352b7244.png)
https://cdnjs.com/libraries/angular-material

I think this is related to the heavily use of tags: https://github.com/angular/bower-material/commits/master, the bot has changed the [version](https://github.com/cdnjs/cdnjs/commit/d4e291e3aa82034c0ed7e351d0cc39ed9fe78878) in the `package.json

[2020-07-08 19:40] MattIPv4 commented on #349
Application erro was due to Heroku having a flop, should be resolved now.

[2020-07-08 19:40] MattIPv4 commented on #349
Saying that, we've now got `angular-material version not found!` here due to that version mismatch, will move this over to cdnjs/packages for disucssion there.

[2020-08-29 09:30] dhruvkrishnavaid commented on #50
And what about enabling Brotli compression?? 🤔🤔
Can you enable it too...